frontend/node_modules/
frontend/package-lock.json
frontend/build/
frontend/npm-debug.log
app/build/
app/.gradle/
app/.xp/
app/.enonic/
app/src/main/resources/site/assets/
app/src/main/resources/assets/
deploy.bat
app/.classpath
app/.project
app/.settings/
app/bin/