<div class="modal modal-remove_comment" style="opacity: 0;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">
                    Причина удаления комментария
                </h2>
            </div>
            <div class="modal-body">
                <form class="remove_comment-form js_remove_comment-form">
                    <div class="select-field">
                        <select name="reason" id="remove-reason-select" class="select">
                            <option value="Выберите причину" disabled="disabled" selected>Выберите причину</option>
                            <option value="Оскорбление">Оскорбление</option>
                            <option value="Флуд">Флуд</option>
                            <option value="Непотребный контент">Непотребный контент</option>
                        </select>
                    </div>
                    <input class="js_comment-remove-id" name="id" type="hidden" value="">

                    <button class="modal-btn modal-btn-remove">Удалить</button>
                </form>
            </div>
        </div>
    </div>
</div>