<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css"  data-th-href="${portal.assetUrl({'_path=/css/main.css'})}">
<link rel="stylesheet" type="text/css"  data-th-href="${portal.assetUrl({'_path=/css/slick.css'})}">
<link rel="icon" type="image/png" data-th-href="${portal.assetUrl({'_path=/images/fav_icon.PNG'})}" sizes="16x16">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="description" data-th-attr="content=${site.data.description}">
<title>Вечерние кости</title>

<!-- Open Graph data -->
<meta property="og:title" content="Вечерние кости" />
<meta property="og:type" content="article" />
<meta property="og:url" data-th-attr="content=${portal.pageUrl({'_path=' + site._path, '_type=absolute'})}" />
<meta property="og:image" data-th-attr="content=${portal.assetUrl({'_path=images/extended-logo-min.png','_type=absolute'})}" />
<meta property="og:description" data-th-attr="content=${site.data.description}" />
<meta property="og:site_name" data-th-attr="content=${site.displayName}" />
<meta property="fb:app_id" content="2182806205310445" />