<div class="site_width">
    <div class="header-logo">
        <a data-th-href="${portal.pageUrl({'_path=' + site._path})}">
            <img src="#" data-th-src="${portal.assetUrl({'_path=images/logo-vechernie-kosti.png'})}" alt="Vechernie kosti logo" class="header-logo-default">
            <img src="#" data-th-src="${portal.assetUrl({'_path=images/smal-logo.png'})}" alt="Vechernie kosti logo" class="header-logo-scroll">
        </a>
    </div>
    <div class="mobile_menu">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
    <div class="header-utility">
        <ul class="nav-list">
            <li data-th-each="menuItem: ${menuItems}" class="nav-item">
                <a data-th-href="${menuItem.url}" class="nav-link" data-th-attr="title=${menuItem.title}" data-th-text="${menuItem.title}" data-th-classappend="${menuItem.active ? 'nav-link_active' : ''}">Блог</a>
            </li>
        </ul>
        <div class="header-search show">
            <span class="search-icon"></span>
            <div class="search-block"> 
                <div class="form-group search-field">
                    <button type="submit" class="search-icon search-btn"></button>
                    <input name="search" type="text" class="input-text search-input" placeholder="Что ищем?" id="search-input">
                </div>
            </div>
        </div>
        <div class="header-notification ">
            <a href="https://www.google.com/" class="nav-link">
                <span class="notification-icon">
                    <span class="notification-qty">1</span>
                </span>
                <span class="notification-link_text">Уведомления</span>
            </a>
            <div class="notification-block">
                <div class="notification-header">
                    <h5 class="notification-title">Уведомления</h5>
                    <a href="" class="notification-link">Показать все</a>
                </div>
                <div class="notification-body">
                    <ul class="notification-list">
                        <li class="notification-item new">
                            <span class="post-user_avatar">
                                <img src="/blog/chudesa-hirurgii.novyj-rog-aj-aty/_/image/d0ee3d8e-3ae7-493e-ad68-7f4e423f2428:0c23cbe9d8a33eaea03f6909f905a483e1ff89b1/block-60-60/y.holod.jpg">
                            </span>
                            <div class="notification-post_info">
                                <a class="post-user_name">Какой-то хрен</a>
                                <span class="notification-action">
                                    положительно оценил ваш комментарий к записи
                                </span>
                                <a class="notification-post_name">
                                    Рома Ливер сосет говно каждый день 
                                </a>
                                <span class="post-date">2 минуты назад</span>
                            </div>
                        </li>
                        <li class="notification-item">
                            <span class="post-user_avatar">
                                <img src="/blog/chudesa-hirurgii.novyj-rog-aj-aty/_/image/d0ee3d8e-3ae7-493e-ad68-7f4e423f2428:0c23cbe9d8a33eaea03f6909f905a483e1ff89b1/block-60-60/y.holod.jpg">
                            </span>
                            <div class="notification-post_info">
                                <a class="post-user_name">Какой-то хрен</a>
                                <span class="notification-action">
                                    положительно оценил ваш комментарий к записи
                                </span>
                                <a class="notification-post_name">
                                    Рома Ливер сосет говно каждый день 
                                </a>
                                <span class="post-date">2 минуты назад</span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div data-th-utext="${headerUser}" class="header-user js_header-user-wrap"></div>
    </div>
    <div class="active_element"></div>
</div>