<div class="site_width">
    <h1 class="header-logo">
        <a data-th-href="${portal.pageUrl({'_path=' + site._path})}">
            <img src="#" data-th-src="${portal.assetUrl({'_path=images/logo-vechernie-kosti.png'})}" alt="Vechernie kosti logo">Vechernie kosti
        </a>
    </h1>
    <div class="header-utility">
        <ul class="nav-list">
            <li data-th-each="menuItem: ${menuItems}" class="nav-item">
                <a data-th-href="${menuItem.url}" class="nav-link" data-th-attr="title=${menuItem.title}" data-th-text="${menuItem.title}" data-th-classappend="${menuItem.active ? 'nav-link_active' : ''}">Блог</a>
            </li>
        </ul>
        <div class="header-search hidden">
            <span class="search-icon"></span>
        </div>
        <div class="header-notification hidden">
            <span class="notification-icon"></span>
        </div>
        <div data-th-if="${user}" class="header-user">
            <div class="user-avatar-img_wrap">
                <a data-th-href="${portal.pageUrl({'_path=' + user._path})}">
                    <img src="#" data-th-src="${user.image.url}" data-th-attr="alt=${user.displayName}">
                </a>
            </div>
        </div>
        <div data-th-unless="${user}" class="header-user">
            <div class="guest-btn">
                <span class="guest-icon"></span>
                <span class="guest-login">Войти</span>
            </div>
        </div>
    </div>
</div>