<div class="modal modal-login" style="opacity: 0;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title">
          Вход
        </h2>
        <a href="" class="modal-action modal-action-register"
          >Зарегистрироваться</a
        >
      </div>
      <div class="modal-body">
        <form class="login-form">
          <div class="form-group">
            <label for="email-login-input" class="label"
              >ЭЛЕКТРОННАЯ ПОЧТА</label
            >
            <input
              name="username"
              class="input-text"
              id="email-login-input"
              required
            />
          </div>

          <div class="form-group form-group__action">
            <label for="password-login-input" class="label">ПАРОЛЬ</label>
            <a href="" class="modal-action modal-action-forgotpass"
              >Забыли пароль?</a
            >
            <input
              name="password"
              type="password"
              class="input-text"
              id="password-login-input"
              required
            />
          </div>
          <div class="form-group form-group-error is-invalid hidden"></div>

          <button class="modal-btn modal-btn-login">ВОЙТИ</button>
        </form>
      </div>
      <div class="modal-footer social_login">
        <h5 class="social_login-title">
          <span>ВХОД ЧЕРЕЗ СОЦИАЛЬНЫЕ СЕТИ</span>
        </h5>
        <div class="social_login-action">
          <button class="social_login-fb">Facebook</button>
          <button class="social_login-twitter">Twitter</button>
          <button class="social_login-vk">Вконтакте</button>
          <button
            class="social_login-google js_social_login-google"
            id="google-login"
          >
            Google
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal modal-registration" style="opacity: 0;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title">
          Регистрация
        </h2>
        <a href="" class="modal-action modal-action-login">Войти</a>
      </div>
      <div class="modal-body">
        <form action="#" class="register-form">
          <div class="form-group">
            <label for="name-registration-input" class="label">ИМЯ</label>
            <input
              name="username"
              type="text"
              class="input-text"
              id="name-registration-input"
              required
            />
          </div>

          <div class="form-group">
            <label for="email-registration-input" class="label"
              >ЭЛЕКТРОННАЯ ПОЧТА</label
            >
            <input
              name="email"
              type="email"
              class="input-text"
              id="emailRegistrationInput"
              required
            />
          </div>

          <div class="form-group">
            <label for="password-registration-input" class="label"
              >ПАРОЛЬ</label
            >
            <input
              name="password"
              type="password"
              class="input-text"
              id="password-registration-input"
              required
            />
          </div>
          <div class="form-group form-group-error is-invalid hidden">
            <span></span>
          </div>

          <button class="modal-btn modal-btn-register">РЕГИСТРАЦИЯ</button>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal modal-forgot-password" style="opacity: 0;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title">
          Забыли пароль?
        </h2>
        <a href="" class="modal-action modal-action-login">Войти</a>
      </div>
      <div class="modal-body">
        <form action="#" class="reset-form">
          <div class="form-group">
            <label for="email-forgot-input" class="label"
              >ЭЛЕКТРОННАЯ ПОЧТА</label
            >
            <input
              name="email"
              type="email"
              class="input-text"
              id="email-forgot-input"
              required
            />
          </div>
          <div class="form-group form-group-error is-invalid hidden">
            <span></span>
          </div>

          <button class="modal-btn modal-btn-reset">ОТПРАВИТЬ</button>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal modal-set-password" style="opacity: 0;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title">
          Выберите пароль
        </h2>
      </div>
      <div class="modal-body">
        <form action="#" class="reset-form">
          <div class="form-group">
            <label for="password-social-confirm-input" class="label"
              >ПАРОЛЬ</label
            >
            <input
              name="password"
              type="password"
              class="input-text"
              id="password-social-confirm-input"
              required
            />
          </div>

          <div class="form-group">
            <label for="password-social-input" class="label"
              >ПОДТВЕРДИТЕ ПАРОЛЬ</label
            >
            <input
              type="password"
              class="input-text"
              id="password-social-input"
              required
            />
          </div>
          <div class="form-group form-group-error is-invalid hidden">
            <span></span>
          </div>

          <button class="modal-btn modal-btn-reset">ОТПРАВИТЬ</button>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="snackbar js_snackbar">
  <div class="snackbar-text">Some msg</div>
  <div class="snackbar-close icon-delete"></div>
</div>
