.social {
  &-title {
    color: $color-primary17;
    font-weight: bold;
    margin-bottom: 18px;

    &:before {
      margin-right: 8px;
    }
  }

  &-icon {
    @include icon(network);
  }

  &-item {
    display: inline-flex;
    align-items: center;

    & + & {
      margin-left: 25px;
    }
  }

  &-link {
    display: inline-flex;
    align-items: center;

    &:hover {
      opacity: 0.8;
    }

    &::before {
      font-size: rem(24);
    }
  }

  &-list__sides_align {
    display: flex;
    justify-content: space-between;
  }

  .facebook {
    @include icon(fb);

    color: $color-facebook;

    &:before {
      font-size: rem(22);
    }
  }

  .vk {
    @include icon(vk);

    color: $color-vk;

    &:before {
      font-size: rem(18);
    }
  }

  .twitter {
    @include icon(twitter);

    color: $color-twitter;

    &:before {
      font-size: rem(20);
    }
  }

  .youtube {
    @include icon(youtube);

    color: $color-youtube;

    &:before {
      font-size: rem(22);
    }
  }

  .instagram {
    @include icon(instagram);

    color: $color-instagram;

    &:before {
      font-size: rem(20);
    }
  }

  .twitch {
    @include icon(twitch);

    color: $color-twitch;

    &:before {
      font-size: rem(20);
    }
  }

  .discord {
    @include icon(discord);

    color: $color-discord;

    &:before {
      font-size: rem(25);
    }
  }

  .telegram {
    @include icon(telegram);

    color: $color-discord;

    &:before {
      font-size: rem(25);
    }
  }

  .copy_url {
    @include icon(copy);

    &:before {
      font-size: rem(20);
      color: $color-primary21;
    }
  }
}
