.social_login {
  border-top: 1px solid $color-primary25;
  position: relative;

  &-title {
    @include position(absolute, top -7px right 0 left 0);

    text-align: center;
    margin-bottom: 5px;
    color: $color-primary12;
    font-size: rem(12);
    text-transform: uppercase;

    span {
      background: $color-primary1;
      padding: 0 16px;
    }
  }

  &-action {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: -4px;
  }

  .button {
    width: 45%;
    margin: 4px;
    flex: 1 1 auto;
    transition: transition(box-shadow, 0.5s, ease-in-out);
    padding: 10px;
    min-height: 48px;
    display: inline-flex;
    justify-content: center;
    align-items: center;

    @include mobile-all() {
      min-height: 60px;
    }

    &:hover {
      box-shadow: 0 5px 15px 0 rgba($color-primary21, 0.2);
    }
  }

  &-fb {
    @include button-style(global transparent fb);

    padding: 20px 10px;
  }

  &-twitter {
    @include button-style(global transparent twitter);

    padding: 20px 10px;
  }

  &-vk {
    @include button-style(global transparent vk);

    padding: 20px 10px;
  }

  &-google {
    @include button-style(global transparent google);

    padding: 20px 10px;
    color: $color-primary6;

    &::before {
      background-image: url("../images/google.svg");
      width: 24px;
      height: 24px;
    }
  }

  &-discord {
    @include button-style(global transparent discord);

    padding: 20px 10px;

    &:before {
      font-size: rem(22);
    }
  }
}