.tag {
  &-item {
    display: inline-block;
    vertical-align: middle;
    color: $color-primary15;
    font-size: rem(14);
    transition: transition(text-decoration);
    margin: 8px 5px 0 0;

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      text-decoration: underline;
    }
  }
}

.tag-list__small {
  .tag-item {
    font-size: rem(10);
  }
}

.tag-list__white {
  .tag-item {
    color: $color-primary1;
    font-weight: bold;
  }
}

.tag-list__hot {
  .tag-item {
    padding: 8px;
    border-radius: 2px;
    background-color: $color-primary1;
    transition: transition(all);

    &:hover {
      text-decoration: none;
      box-shadow: 0 4px 16px 0 rgba($color-primary11, 0.4);
      color: $color-primary1;
      background-color: $color-primary15;
    }
  }
}
