<div data-th-if="${user}" class="js_header-user" data-th-classappend="${active}"
    data-th-attr="data-userid=${user.key}, data-usercontentid=${user._id}">
    <div class="user-avatar-img_wrap">
        <a data-th-href="${portal.pageUrl({'_path=' + user._path})}">
            <img src="#" data-th-src="${user.image.url}" data-th-attr="alt=${user.displayName}" />
        </a>
    </div>
</div>
<div data-th-unless="${user}" class="js_header-user js_call-login" data-logintype="js_login-form">
    <div class="guest-btn" title="Войти">
        <span class="guest-icon"></span>
        <span class="guest-login">Войти</span>
    </div>
</div>