<form class="header-search js_header-search" data-th-action="${searchUrl}" method="GET">
    <a class="nav-link search-utility js_search-icon">
        <span class="search-icon" data-th-classappend="${active}" data-th-title="Поиск"></span>
        <span class="header-link_text">Поиск</span>
    </a>
    <div class="search-block">
        <div class="form-group button_wrap-field">
            <button type="submit" class="search-icon button_wrap-btn"></button>
            <input name="q" type="text" class="input-text button_wrap-input js_search-input" placeholder="Что ищем?"
                id="search-input" />
        </div>
    </div>
</form>