<div class="form-group js_action-block create_monster-action_editor" data-th-attr="data-id=${id}, data-group=${type}">
    <div class="h-mb-15">
        <label data-th-for="${type + '-title-' + id}" class="label">Name</label>
        <input type="text" class="input-text js_monster-action" data-th-id="${type + '-title-' + id}"
            data-th-value="${name}" />
    </div>
    <div>
        <label data-th-for="${type + '-description-' + id}" class="label">Description</label>
        <textarea class="input-text js_monster-action" data-th-id="${type + '-description-' + id}"
            data-th-text="${description}" rows="5"></textarea>
    </div>
    <div class="create_article-editor_actions">
        <div class="create_article-editor_actions-remove js_remove-part"></div>
        <div class="create_article-editor_actions-top js_move-part" data-type="top"></div>
        <div class="create_article-editor_actions-bot js_move-part" data-type="bot"></div>
    </div>
</div>