<!DOCTYPE html>
<html>

<head data-th-utext="${pageComponents.pagehead}"></head>

<body class="page-wrapper">
    <div data-th-remove="tag" data-th-utext="${pageComponents.loginRegisterModal}"></div>
    <header class="header" data-th-utext="${pageComponents.header}"></header>
    <main class="main" id="payment-success" data-th-classappend="${status == 'success' ? 'js_payment-success' : ''}">
        <div class="confirmation-wrap">
            <div class="site_width">
                <h2 class="checkout-title"
                    data-th-text="${portal.localize({'_key=shop.payment.status.heading.' + status, '_locale=ru'})}">
                    Спасибо за ваш заказ!
                </h2>
                <div class="confirmation-msg">
                    <div data-th-if="${status != 'error'}" data-th-remove="tag">
                        Ваш заказ получен под номером
                        <span data-th-text="${cart.userId}"></span>.
                    </div>
                    <span data-th-remove="tag"
                        data-th-text="${portal.localize({'_key=shop.payment.status.' + status, '_locale=ru'})}"></span>
                </div>
                <a data-th-href="${shopUrl}" class="checkout-back"
                    data-th-text="${portal.localize({'_key=shop.title.toStore', '_locale=ru'})}"
                    data-th-title="${portal.localize({'_key=shop.title.toStore', '_locale=ru'})}"></a>
            </div>
        </div>
    </main>
    <footer class="footer blog_width" data-th-utext="${pageComponents.footer}"></footer>
</body>

</html>