<div data-th-if="${error}" class="payment-error">
  <h2 class="checkout-title">Что-то пошло не так…</h2>
  <div class="confirmation-msg">
    Мы столкнулись с проблемой во время обработки вашего платежа. Пожалуйста
    убедитесь что с выбраным вами способом оплаты все в порядке.
  </div>
</div>
<h2 class="checkout-title">Способ оплаты</h2>
<form class="checkout-form" method="POST" data-th-action="${checkoutUrl}">
  <div class="payment_m">
    <div class="form-group">
      <input
        name="step"
        type="radio"
        class="input-radio"
        id="intecasa-payment"
        value="interkassa"
        hidden
      />
      <label for="intecasa-payment" class="label-radio">
        <div class="radio_align-type">
          <div class="radio_align-top">
            <span class="radio_align-title">Интеркасса</span>
            <span class="radio_align-subtitle payment_m-img_wrap">
              <img
                data-th-src="${portal.assetUrl({'_path=images/interkassa.png'})}"
                alt="interkassa image"
              />
            </span>
          </div>
          <div class="radio_align-description">
            Вы будете перенаправлены на страницу сервиса для завершения
            безопасной оплаты
          </div>
        </div>
      </label>
    </div>
    <div class="form-group">
      <input
        name="step"
        type="radio"
        class="input-radio"
        id="paypal-payment"
        value="paypal"
        hidden
      />
      <label for="paypal-payment" class="label-radio">
        <div class="radio_align-type">
          <div class="radio_align-top">
            <span class="radio_align-title">PayPal</span>
            <span class="radio_align-subtitle payment_m-img_wrap">
              <img
                data-th-src="${portal.assetUrl({'_path=images/paypal.png'})}"
                alt="paypal image"
              />
            </span>
          </div>
          <div class="radio_align-description">
            Вы будете перенаправлены на страницу сервиса для завершения
            безопасной оплаты
          </div>
        </div>
      </label>
    </div>
  </div>
  <div class="checkout-action">
    <a data-th-href="${cartUrl}" class="checkout-back" title="К покупкам"
      >К покупкам</a
    >
    <button
      class="checkout-continue"
      title="Продолжить"
      data-th-disabled="${!cart.stock or cart.itemsNum < 1}"
    >
      ПРОДОЛЖИТЬ
    </button>
  </div>
</form>
