@import "base/reset";
@import "base/iconfont";
@import "base/fonts";

@import "utilities/variables";
@import "utilities/extends";
@import "utilities/mixins";
@import "utilities/helpers";
@import "utilities/mediaQuery";

@import "base/base";
@import "base/buttons";
@import "base/form";
@import "base/typography";
@import "base/modal";
@import "base/qty_field";
@import "base/slick_slider";
@import "base/search_field";
@import "base/table_view";
@import "base/titles";
@import "base/indent";
@import "base/loader";
@import "base/back_to_top";
@import "base/snackbar";
@import "base/max";
@import "base/player";

@import "components/mobile_menu";
@import "components/header";
@import "components/footer";
@import "components/tags";
@import "components/social";
@import "components/social_login";
@import "components/action_buttons";
@import "components/price";
@import "components/login_modal";
@import "components/form_controls";

@import "pages/homepage";
@import "pages/comingSoon";
@import "pages/pdp";
@import "pages/checkout";
@import "pages/cart";
@import "pages/userpage";
@import "pages/content_page";
@import "pages/article";
@import "pages/plp";
@import "pages/admin";
@import "pages/searchpage";
@import "pages/gameReg";
@import "pages/viewOrders";
@import "pages/createArticle";
@import "pages/kosticon2020";
@import "pages/myGamesStep1-2";
@import "pages/myGamesStep3";
@import "pages/myGamesStep4-5";
@import "pages/myGamesPlayer";
@import "pages/userArtileList";
@import "pages/createMonster";