<div class="back_to_top js_back_to_top hidden"></div>
<div id="fb-root"></div>
<div class="blog_width">
  <ul class="footer-nav">
    <li class="footer-item" data-th-if="${footerLinks.agreementPage}">
      <a
        class="footer-link"
        data-th-href="${footerLinks.agreementPage}"
        data-th-text="${portal.localize({'_key=global.footer.security', '_locale=ru'})}"
        data-th-title="${portal.localize({'_key=global.footer.security', '_locale=ru'})}"
      ></a>
    </li>
    <li class="footer-item" data-th-if="${footerLinks.coockiePolicy}">
      <a
        class="footer-link"
        data-th-href="${footerLinks.coockiePolicy}"
        data-th-text="${portal.localize({'_key=global.footer.cookies', '_locale=ru'})}"
        data-th-title="${portal.localize({'_key=global.footer.cookies', '_locale=ru'})}"
      ></a>
    </li>
    <li class="footer-item" data-th-if="${footerLinks.aboutUs}">
      <a
        class="footer-link"
        data-th-href="${footerLinks.aboutUs}"
        data-th-text="${portal.localize({'_key=global.footer.aboutUs', '_locale=ru'})}"
        data-th-title="${portal.localize({'_key=global.footer.aboutUs', '_locale=ru'})}"
      ></a>
    </li>
  </ul>
</div>
