
<div class="back_to_top js_back_to_top hidden"></div>
<div id="fb-root"></div>

<div class="checkout-wrap">
    <div class="site_width">
        <div class="checkout-info">
          <ul class="footer-nav">
            <li data-th-if="${footerLinks.agreementPage}" class="footer-item">
              <a class="footer-link" data-th-href="${footerLinks.agreementPage}">Безопасность</a>
            </li>
            <li class="footer-item" data-th-if="${footerLinks.coockiePolicy}">
              <a class="footer-link" data-th-href="${footerLinks.coockiePolicy}">Использование куки</a>
            </li>
            <li class="footer-item" data-th-if="${footerLinks.aboutUs}">
              <a class="footer-link" data-th-href="${footerLinks.aboutUs}">О нас</a>
            </li>
          </ul>
        </div>
        <div class="checkout-summary"></div>
    </div>
</div>