//----------------------------------------------------------------------
// Extends
//----------------------------------------------------------------------
%clearfix,
.clearfix {
    &:after {
        content: '';
        display: block;
        width: 100%;
        clear: both;
    }
}