@charset "UTF-8";
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
object,
section,
summary {
  display: block; }

audio,
canvas,
video {
  display: inline-block;
  vertical-align: top; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-repeat: no-repeat; }

* {
  min-height: 0;
  min-width: 0; }

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-touch-action: manipulation;
  touch-action: manipulation; }

html, body, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit; }

a {
  background-color: transparent;
  text-decoration: none;
  color: inherit; }

a:focus {
  outline: thin dotted; }

a:active,
a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

mark {
  background: #ff0;
  color: #000; }

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap; }

q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0;
  max-width: 100%;
  vertical-align: bottom;
  -webkit-touch-callout: none; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

fieldset {
  border: none;
  margin: 0;
  padding: 0; }

legend {
  border: 0;
  padding: 0; }

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button,
input {
  line-height: normal; }

button,
select {
  text-transform: none; }

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

input[type="checkbox"],
input[type="radio"] {
  padding: 0; }

input[type="search"] {
  -webkit-appearance: textfield; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0; }

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none; }

@font-face {
  font-family: "iconfont";
  src: url("../fonts/iconfont.woff2") format("woff2"), url("../fonts/iconfont.woff") format("woff"), url("../fonts/iconfont.ttf") format("truetype"); }

.icon-bookmarks:before, .icon-burn-tags:before, .icon-comments:before, .icon-fb:before, .icon-featured:before, .icon-instagram:before, .icon-notification:before, .icon-repost:before, .icon-search:before, .icon-twitch:before, .icon-twitter:before, .icon-views:before, .icon-vk:before, .icon-youtube:before, .search-icon:before, .notification-icon:before, .blog-navigation .hotter-btn:before, .blog-navigation .bookmarks-btn:before {
  display: inline-block;
  font-family: "iconfont";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1rem;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-decoration: none;
  text-transform: none;
  vertical-align: middle; }

/*
---
name: Icons
tag: icons
category: Basic
---

```html
    <div class="sg-icon icon-bookmarks" title="bookmarks"></div>
    <div class="sg-icon icon-burn-tags" title="burn-tags"></div>
    <div class="sg-icon icon-comments" title="comments"></div>
    <div class="sg-icon icon-fb" title="fb"></div>
    <div class="sg-icon icon-featured" title="featured"></div>
    <div class="sg-icon icon-instagram" title="instagram"></div>
    <div class="sg-icon icon-notification" title="notification"></div>
    <div class="sg-icon icon-repost" title="repost"></div>
    <div class="sg-icon icon-search" title="search"></div>
    <div class="sg-icon icon-twitch" title="twitch"></div>
    <div class="sg-icon icon-twitter" title="twitter"></div>
    <div class="sg-icon icon-views" title="views"></div>
    <div class="sg-icon icon-vk" title="vk"></div>
    <div class="sg-icon icon-youtube" title="youtube"></div>
```
*/
.icon-bookmarks:before {
  content: ""; }

.icon-burn-tags:before {
  content: ""; }

.icon-comments:before {
  content: ""; }

.icon-fb:before {
  content: ""; }

.icon-featured:before {
  content: ""; }

.icon-instagram:before {
  content: ""; }

.icon-notification:before {
  content: ""; }

.icon-repost:before {
  content: ""; }

.icon-search:before {
  content: ""; }

.icon-twitch:before {
  content: ""; }

.icon-twitter:before {
  content: ""; }

.icon-views:before {
  content: ""; }

.icon-vk:before {
  content: ""; }

.icon-youtube:before {
  content: ""; }


.clearfix:after {
  content: '';
  display: block;
  width: 100%;
  clear: both; }

body {
  color: #ffffff;
  font-family: "Roboto", Arial;
  font-size: 1.25rem;
  font-weight: 300;
  letter-spacing: 0.005em;
  line-height: 1.2;
  word-wrap: break-word;
  position: relative; }

html, body {
  height: 100%;
  background-color: #160d1d; }

a,
button {
  cursor: pointer;
  transition: all ease-out 0.2s; }

button,
input,
a {
  outline: none; }

.site_width {
  margin: 0 auto;
  max-width: 1240px;
  width: 100%; }

.blog_width {
  margin: 0 auto;
  max-width: 940px;
  width: 100%; }

input,
select,
textarea {
  height: 40px;
  border-radius: 4px;
  background-color: #ffffff;
  box-shadow: 0 4px 16px 0 rgba(165, 36, 20, 0.5);
  font-size: 0.875rem;
  line-height: 40px;
  color: #333333;
  padding: 0 15px;
  border: 1px solid transparent; }
  input:focus,
  select:focus,
  textarea:focus {
    box-shadow: 0 4px 16px 0 rgba(25, 122, 173, 0.5);
    border: solid 1px #197aad; }
  input::-webkit-input-placeholder,
  select::-webkit-input-placeholder,
  textarea::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #999999; }
  input::-moz-placeholder,
  select::-moz-placeholder,
  textarea::-moz-placeholder {
    /* Firefox 19+ */
    color: #999999; }
  input:-ms-input-placeholder,
  select:-ms-input-placeholder,
  textarea:-ms-input-placeholder {
    /* IE 10+ */
    color: #999999; }
  input:-moz-placeholder,
  select:-moz-placeholder,
  textarea:-moz-placeholder {
    /* Firefox 18- */
    color: #999999; }

textarea {
  min-width: 100%;
  min-height: 45px; }

.primary_button {
  height: 40px;
  border-radius: 4px;
  background-color: #de4225;
  box-shadow: 0 4px 16px 0 rgba(165, 36, 20, 0.5);
  font-size: 0.875rem;
  font-weight: bold;
  color: #ffffff;
  border: 0;
  padding: 10px 24px; }
  .primary_button:hover {
    box-shadow: 0 4px 16px 0 rgba(165, 36, 20, 0.5);
    background-color: #de3825; }
  .primary_button:active, .primary_button:focus {
    box-shadow: inset 0 0 8px 0 rgba(0, 0, 0, 0.5); }

.header {
  z-index: 11;
  width: 100%; }
  .header:after {
    height: 2px;
    opacity: 0.24;
    background-color: #ffffff;
    content: '';
    display: block; }
  .header .site_width {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 25px 0; }
  .header-logo {
    font-size: 0;
    max-width: 101px; }
  .header-utility {
    display: flex;
    align-items: center; }
  .header-search, .header-notification, .header-user {
    padding-left: 65px; }

.user-avatar-img_wrap {
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid #d8d8d8;
  width: 36px; }

.nav-list {
  font-size: 0; }

.nav-item {
  display: inline-block;
  padding-left: 65px;
  vertical-align: middle; }
  .nav-item:first-child {
    padding-left: 0; }

.nav-link {
  font-family: "Roboto", Arial;
  font-size: 0.875rem;
  font-weight: bold;
  color: #bcbcbc; }
  .nav-link:hover, .nav-link_active {
    color: #eeeeee; }

.search-icon:before {
  content: ""; }

.notification-icon:before {
  content: ""; }

.freshest {
  width: 66%;
  float: left; }

.schedule {
  width: 32%;
  float: right; }

.latest_news-title {
  font-family: "Roboto", Arial;
  font-size: 0.875rem;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 8px; }

.latest_news-iframe_wrap {
  border-radius: 4px;
  overflow: hidden;
  position: relative;
  padding-bottom: 51.903%;
  padding-top: 25px;
  height: 0; }
  .latest_news-iframe_wrap iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.schedule-item {
  padding: 30px 30px 15px;
  box-shadow: 0 2px 8px 0 rgba(217, 144, 49, 0.24);
  height: 109px; }
  .schedule-item + .schedule-item {
    margin-top: 10px; }

.schedule-date {
  font-size: 0.75rem; }
  .schedule-date .month {
    color: #e23d23;
    font-weight: 500; }
  .schedule-date .date {
    font-weight: bold; }

.schedule-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: auto;
  font-family: Roboto;
  font-size: 1.125rem;
  font-weight: bold;
  margin-bottom: 5px; }

.tag-item {
  opacity: 0.75;
  font-family: "Roboto", Arial;
  font-size: 0.625rem; }
  .tag-item:hover {
    opacity: 1; }

.tag-item + .tag-item {
  margin-left: 5px; }

.blog-navigation .hotter-btn:before {
  content: ""; }

.blog-navigation .bookmarks-btn:before {
  content: ""; }

.comingSoonMain {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between; }

.comingSoonBackground {
  background-image: url("../images/background-min.png");
  background-size: cover;
  padding: 0 40px;
  position: relative;
  z-index: 0;
  flex-shrink: 0;
  min-height: 85%;
  display: flex;
  align-items: center; }
  .comingSoonBackground:after {
    width: 100%;
    height: 26px;
    background-image: url(../images/overlay-min.png);
    background-repeat: repeat-x;
    content: '';
    position: absolute;
    bottom: 0;
    z-index: -1;
    left: 0; }

.comingSoonWrapper {
  width: 380px;
  text-align: center;
  margin: 0 auto;
  padding: 40px 0 60px 0; }

.spellWrapper {
  width: 980px;
  text-align: center;
  margin: 0 auto;
  padding: 40px 0 60px 0; }

.comingSoonText {
  color: #ffffff;
  margin: 47px auto 0 auto; }

.comingSoonTitle {
  font-weight: bold;
  font-size: 48px; }

.comingSoonDescription {
  width: 364px;
  font-size: 0.875rem;
  line-height: 1.43;
  text-align: center;
  color: #ffffff;
  margin: 25px auto 0 auto; }

.spellDescription {
  width: 980px;
  font-size: 0.875rem;
  line-height: 1.43;
  text-align: center;
  color: #ffffff;
  margin: 25px auto 0 auto; }

.comingSoonMailBlock {
  margin: 32px auto 0 auto; }
  @media only screen and (min-width: 767px) {
    .comingSoonMailBlock {
      display: flex;
      justify-content: center; } }
  .comingSoonMailBlock .comingSoonInput {
    width: 240px; }
  @media only screen and (min-width: 767px) {
    .comingSoonMailBlock .comingSoonButton {
      margin-left: 15px; } }

@media only screen and (max-width: 767px) {
  .comingSoonMailBlock .comingSoonInput, .comingSoonMailBlock .comingSoonButton, .comingSoonDescription, .comingSoonText, .comingSoonWrapper {
    width: 100%; }
  .comingSoonInput {
    margin-bottom: 25px; } }

.comingSoonSocial {
  margin: 0 auto;
  display: table;
  margin-top: 45px;
  padding: 10px 10px 60px 10px;
  align-self: center; }
  .comingSoonSocial .comingSoonSocialBiggerWrapper div:first-child {
    margin-left: 0; }
  .comingSoonSocial .comingSoonSocialBiggerWrapper,
  .comingSoonSocial .comingSoonSocialSmallerWrapper {
    float: left; }
    .comingSoonSocial .comingSoonSocialBiggerWrapper div,
    .comingSoonSocial .comingSoonSocialSmallerWrapper div {
      width: 32px;
      height: 32px;
      float: left;
      margin-left: 32px;
      background-size: contain; }
      .comingSoonSocial .comingSoonSocialBiggerWrapper div a,
      .comingSoonSocial .comingSoonSocialSmallerWrapper div a {
        display: block;
        height: 100%; }
      .comingSoonSocial .comingSoonSocialBiggerWrapper div a:hover,
      .comingSoonSocial .comingSoonSocialSmallerWrapper div a:hover {
        box-shadow: 0 4px 16px 0 rgba(165, 36, 20, 0.5); }
  @media only screen and (max-width: 767px) {
    .comingSoonSocial {
      margin-top: 40px; }
      .comingSoonSocial div .comingSoonSocialSmaller {
        width: 24px;
        height: 24px;
        margin: 24px 0 0 21px; }
        .comingSoonSocial div .comingSoonSocialSmaller:first-child {
          margin-left: 0; }
      .comingSoonSocial .comingSoonSocialBiggerWrapper,
      .comingSoonSocial .comingSoonSocialSmallerWrapper {
        float: none; } }

.comingSoonTwitch {
  background-image: url("../images/twitch.svg"); }

.comingSoonYoutube {
  background-image: url("../images/youtube.svg"); }

.comingSoonDiscord {
  background-image: url("../images/discord@3x.png"); }

.comingSoonVk {
  background-image: url("../images/vk.svg"); }

.comingSoonFb {
  background-image: url("../images/facebook.svg"); }

.comingSoonTw {
  background-image: url("../images/twitter.svg"); }

.comingSoonIn {
  background-image: url("../images/instagram.svg"); }
