<div data-th-class="${'create_article-quote_editor js_quote-editor js_single-part js_single-part-' + id}"
    data-th-attr="data-id=${id}">
    <blockquote class="js_editable-div" contenteditable="true" data-placeholder="Введите цитату">Введите цитату
    </blockquote>
    <input type="hidden" class="js_editable-div-value" />
    <div class="create_article-editor_actions">
        <div class="create_article-editor_actions-remove js_remove-part"></div>
        <div class="create_article-editor_actions-top js_move-part" data-type="top"></div>
        <div class="create_article-editor_actions-bot js_move-part" data-type="bot"></div>
    </div>
</div>