<div data-th-class="${'create_article-image_editor js_image-editor image-editor js_single-part js_single-part-' + id}"
    data-th-attr="data-imageid=${image._id}, data-id=${id}">
    <img data-th-id="${'js_single-part-' + id}" data-th-src="${image.url}" />
    <div class="js_editable-div create_article-image_editor-caption js_img_caption" contenteditable="true"
        data-placeholder="Введите здесь подпись для картинки" data-th-id="${'image-caption-input-' + id}"
        data-th-text="${caption != '' ? caption : 'Введите здесь подпись для картинки'}">
    </div>
    <input type="hidden" class="js_img_caption_input js_editable-div-value" data-th-value="${caption}" />
    <div data-th-remove="tag" data-th-utext="${controls}"></div>
</div>