<div
  data-th-class="${'create_article-tinymce_editor tinymce-editor js_single-part js_single-part-' + id}"
  data-th-attr="data-tinymce=${id}, data-id=${id}"
>
  <textarea data-th-id="${'js_single-part-' + id}"></textarea>
  <div class="create_article-editor_actions">
    <div class="create_article-editor_actions-remove js_remove-part"></div>
    <div class="create_article-editor_actions-top js_move-part" data-type="top"></div>
    <div class="create_article-editor_actions-bot js_move-part" data-type="bot"></div>
  </div>
</div>
