<div data-th-if="${form}" data-th-attr="data-id=${id}"
    data-th-class="${'create_article-video_editor js_video-editor js_single-part js_single-part-' + id}">
    <div data-th-remove="tag">
        <input type="text" class="create_article-video_editor-input" />
        <button type="text" class="create_article-video_editor-btn button button-dark">загрузить видео</button>
    </div>
    <div data-th-remove="tag" data-th-utext="${controls}"></div>
</div>
<div data-th-if="${videoId}" data-th-remove="${addWrapper ? 'none' : 'tag'}" data-th-attr="data-id=${id}"
    data-th-class="${'create_article-video_editor js_video-editor js_single-part js_single-part-' + id}">
    <img data-th-src="${'https://img.youtube.com/vi/' + videoId + '/maxresdefault.jpg'}" data-th-attr="data-url=${url}">
    <div data-th-remove="tag" data-th-utext="${controls}"></div>
</div>