<!DOCTYPE html>
<html>

<head data-th-utext="${pageComponents.pagehead}"></head>

<body class="page-wrapper">
    <div data-th-remove="tag" data-th-utext="${pageComponents.loginRegisterModal}"></div>
    <header class="header" data-th-utext="${pageComponents.header}"></header>
    <main class="main">
        <div class="confirmation-wrap">
            <div class="site_width">
                <h2 class="checkout-title"
                    data-th-text="${portal.localize({'_key=global.error.login.required.heading.' + type, '_locale=ru'})}">
                </h2>
                <div class="confirmation-msg"
                    data-th-text="${portal.localize({'_key=global.error.login.required.description.' + type, '_locale=ru'})}">
                </div>
                <a data-th-if="${params.showDiscord}" data-th-href="${discordUrl}"
                    class="button social_login-discord">Discord</a>
            </div>
        </div>
    </main>
    <footer class="footer" data-th-utext="${pageComponents.footer}"></footer>
</body>

</html>