<div class="comments-item" data-th-each="notification: ${notifications}">
    <div><img data-th-src="${notification.user.image.url}" /></div>
    <a data-th-href="${notification.user.url}" data-th-text="${notification.user.displayName}"></a>
    <span data-th-remove="tag"
        data-th-text="${portal.localize({'_key=user.notifications.' + notification.subType + '.' + notification.type, '_locale=ru'})}"></span>
    <a data-th-href="${notification.article.url}" data-th-text="${notification.article.displayName}"></a>
    <div data-th-text="${notification.date}"></div>
</div>