
input,
select,
textarea {
    height: 40px;
    border-radius: 4px;
    background-color: $color-primary1;
    box-shadow: 0 4px 16px 0 rgba(165, 36, 20, 0.5);
    font-size: rem(14);
    line-height: 40px;
    color: $color-primary6;
    padding: 10px 15px;
    border: 1px solid transparent;
    
    &:focus{
		box-shadow: 0 4px 16px 0 rgba(25, 122, 173, 0.5);
		border: solid 1px $color-primary3;
    }
    
    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: $color-primary7;
    }
    &::-moz-placeholder { /* Firefox 19+ */
    color: $color-primary7;
    }
    &:-ms-input-placeholder { /* IE 10+ */
    color: $color-primary7;
    }
    &:-moz-placeholder { /* Firefox 18- */
    color: $color-primary7;
    }
}

textarea {
    min-width: 100%;
    min-height: 45px;
}

button,
input,
a {
    outline:none;
}

.primary_button {
    height: 40px;
    border-radius: 4px;
    background-color: $color-primary4;
    box-shadow: 0 4px 16px 0 rgba(165, 36, 20, 0.5);
    font-size: rem(14);
    font-weight: bold;
    color: $color-primary1;
    border: 0;
    padding: 10px 24px;

    &:hover {
		box-shadow: 0 4px 16px 0 rgba(165, 36, 20, 0.5);
        background-color: $color-primary5;
    }
    
    &:active,
    &:focus { 
		box-shadow: inset 0 0 8px 0 rgba(0, 0, 0, 0.5);
	}
}