body {
    color: $color-primary16;
    font-family: $font-main-regular;
    font-size: rem($body-font-size);
    font-weight: $body-font-weight;
    letter-spacing: $body-letter-spacing;
    line-height: 1.2;
    word-wrap: break-word;
    position: relative;
}

html, body {
    height: 100%;
    background-color: #160d1d;
}

a,
button {
    cursor: pointer;
    transition: all ease-out 0.2s;
}

button,
input,
a {
    outline:none;
}

.site_width {
    margin: 0 auto;
    max-width: 1280px;
    width: 100%;
    padding: 0 10px;

    @include tablet-all() {
        padding: 0 20px;
    }
}

.blog_width {
    margin: 0 auto;
    max-width: 980px;
    width: 100%;
    padding: 0 10px;

    @include tablet-all() {
        padding: 0 20px;
    }
}