///
/// Mixin for generating styles for buttons
///
/// @param {List} $styles [()] - 'global', 'dark', 'light' and other modificators for buttons
///
@mixin button-style($styles: ()) {
    @each $style in $styles {
        @if $style == global {
            display: inline-block;
            width: 100%;
            padding: 20px 32px;
            border-radius: 4px;
            cursor: pointer;
            border: 1px solid transparent;
            font-size: rem(14);
            line-height: normal;
            font-weight: bold;
            text-align: center;
            text-transform: uppercase;
            transition: transition();
            user-select: none;

            &.not-active,
            &[disabled] {
                pointer-events: none;
                background: $color-primary30;
            }
        }

        @if $style == transparent {
            text-transform: capitalize;

            &:before {
                margin-right: 8px;
            }
        }

        @if $style == light {
            box-shadow: 0 4px 8px 0 rgba(60, 18, 6, 0.16);
            background: linear-gradient(79deg, $color-primary23, $color-primary24);
            color: $color-primary1;

            &:hover {
                background: linear-gradient(79deg, darken($color-primary23, 5%), darken($color-primary24, 5%));
            }
        }

        @if $style == dark {
            box-shadow: 0 4px 16px 0 rgba($color-primary1, 0.16);
            background-color: $color-primary17;
            color: $color-primary1;
        }

        @if $style == fb {
            @include icon(fb);

            color: $color-facebook;
            border-color: $color-facebook;
            background :$color-primary1;
        }

        @if $style == twitter {
            @include icon(twitter);

            color: $color-twitter;
            border-color: $color-twitter;
            background :$color-primary1;
        }

        @if $style == vk {
            @include icon(vk);

            color: $color-vk;
            border-color: $color-vk;
            background :$color-primary1;
        }

        @if $style == google {
            @include icon(vgooglek);

            color: $color-google;
            border-color: $color-google;
            background :$color-primary1;
        }

        @if $style == auto {
            width: auto;
        }

        @if $style == icon {
            background: none;
            border: 0;
            padding: 5px 0;
            color: $color-primary12;
            transition: transition(color);

            &:before {
                padding-right: 8px;
            }

            &:hover {
                color: $color-primary22;
            }
        }

        @if $style == link {
            background: none;
            border: 0;
            font-weight: bold;
            padding: 0;
            color: $color-primary22;

            &:hover {
                color: $color-primary12;
            }
        }
    }
}

.button {
    @include button-style(global);
}

.button-light {
    @include button-style(global light);
}

.button-dark {
    @include button-style(global dark);
}