.primary_button {
    height: 40px;
    border-radius: 4px;
    background-color: $color-primary4;
    box-shadow: 0 4px 16px 0 rgba(165, 36, 20, 0.5);
    font-size: rem(14);
    font-weight: bold;
    color: $color-primary1;
    border: 0;
    padding: 10px 24px;

    &:hover {
        box-shadow: 0 4px 16px 0 rgba(165, 36, 20, 0.5);
        background-color: $color-primary5;
    }

    &:active,
    &:focus {
        box-shadow: inset 0 0 8px 0 rgba(0, 0, 0, 0.5);
    }
}