.primary_button { 
    height: 56px;
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 rgba(60, 18, 6, 0.16);
    background-image: linear-gradient(79deg, $color-primary23, $color-primary24);
    font-size: rem(14);
    font-weight: bold;
    color: $color-primary1;
    border: 0;
    padding: 10px 24px;

    &:hover {
        box-shadow: 0 4px 16px 0 rgba(165, 36, 20, 0.5);
        background-color: $color-primary5;
    }

    &:active,
    &:focus {
        box-shadow: inset 0 0 8px 0 rgba(0, 0, 0, 0.5);
    }
}