@font-face {
    font-family: "Bahnschrift";
    src: url('../fonts/Bahnschrift.woff2') format('woff2'),
        url('../fonts/Bahnschrift.woff') format('woff'),
        url('../fonts/Bahnschrift.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Bully";
    src: url('../fonts/Bully.woff2') format('woff2'),
        url('../fonts/Bully.woff') format('woff'),
        url('../fonts/Bully.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
