
input,
select,
textarea { 
    height: 56px;
    width: 100%;
    border-radius: 4px;
    background-color: $color-primary1;
    font-size: rem(14);
    line-height: 56px;
    padding: 0 15px;
    border: 1px solid $color-primary20;

    &:focus{
        box-shadow: 0 4px 16px 0 rgba(25, 122, 173, 0.5);
        border: solid 1px $color-primary3;
    }

    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: $color-primary7;
    }
    &::-moz-placeholder { /* Firefox 19+ */
    color: $color-primary7;
    }
    &:-ms-input-placeholder { /* IE 10+ */
    color: $color-primary7;
    }
    &:-moz-placeholder { /* Firefox 18- */
    color: $color-primary7;
    }
    &.is-invalid{
        border-color: $color-primary32;
        color: $color-primary32;
    }
}

textarea {
    min-width: 100%;
    min-height: 45px;
}

input,
textarea {
    color: $color-primary6;
}

.select-field {
    position: relative;

    &:after{
        @include border-triangle(bottom, 4px, 6px, $color-primary29);
        @include position(absolute, top 50% right 15px)

        content: '';
        margin-top: -4px;
        pointer-events: none;
    }
    &.is-invalid{
        select{
            border-color: $color-primary32;
            color: $color-primary32;
        }
    }
}

select {
    color: $color-primary28;
    -webkit-appearance: none;
    padding-right: 25px;
    cursor: pointer;
}

label {
    display: inline-block;
    margin-bottom: 5px;
    color: $color-primary12;
    font-size: rem(12);
    text-transform: uppercase;
}

.form-group {
    & + & {
        margin-top: 15px;

        .form-group-column & {
            margin-left: 20px;
        }
    }

    &__action {
        justify-content: space-between;
        display: flex;
        flex-wrap: wrap;
    }

    &-column {
        display: flex;
        align-items: stretch;
        justify-content: space-between;
        margin-bottom: 30px;
    
        .form-group {
            margin: 0;
            flex: 0 1 50%;
        }
    }
    &.is-invalid{
        input, select, textarea{
            border-color: $color-primary32;
        }
        label{
            color: $color-primary32;
        }
    }
}

.label-radio {
    border: 1px solid $color-primary20;
    border-radius: 3px;
    padding: 35px 45px 35px 75px;
    position: relative;
    cursor: pointer;
    transition: transition(border);
    
    &:hover {
        border-color: $color-primary22;
    }

    [type="radio"]:checked + & {
        border-color: $color-primary22;
    }

    &:before {
        @include position(absolute, top 35px left 40px);

        content: '';
        height: 18px;
        width: 18px;
        border: 1px solid $color-primary20;
        border-radius: 50%;
        transition: transition(border);

        [type="radio"]:checked + & {
            border-color: $color-primary22;
            border-width: 2px;
        }
    }
    
    &:after {
        @include position(absolute, top 40px left 45px);

        content: '';
        width: 8px;
        height: 8px;
        background-color: transparent;
        border-radius: 50%;
        transition: transition(background);

        [type="radio"]:checked + & {
            background: $color-primary22;
        }
    }
}