@font-face {
    font-family: "iconfont";
    src: url('../fonts/iconfont.woff2') format('woff2'),
        url('../fonts/iconfont.woff') format('woff'),
        url('../fonts/iconfont.ttf') format('truetype');
}

@mixin icon-styles($size: 1rem) {
    display: inline-block;
    font-family: "iconfont";
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    font-size: $size;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    text-decoration: none;
    text-transform: none;
    vertical-align: middle;
}

%icon {
    @include icon-styles;
}

@function icon-char($filename) {
    $char: "";

    @if $filename == bookmarks {
        $char: "\F120";
    }
    @if $filename == burn-tags {
        $char: "\F121";
    }
    @if $filename == comments {
        $char: "\F122";
    }
    @if $filename == fb {
        $char: "\F123";
    }
    @if $filename == featured {
        $char: "\F124";
    }
    @if $filename == instagram {
        $char: "\F125";
    }
    @if $filename == notification {
        $char: "\F126";
    }
    @if $filename == repost {
        $char: "\F127";
    }
    @if $filename == search {
        $char: "\F128";
    }
    @if $filename == twitch {
        $char: "\F129";
    }
    @if $filename == twitter {
        $char: "\F12A";
    }
    @if $filename == views {
        $char: "\F12B";
    }
    @if $filename == vk {
        $char: "\F12C";
    }
    @if $filename == youtube {
        $char: "\F12D";
    }

    @return $char;
}

@mixin icon($filename, $insert: before, $extend: true, $size: 16px) {
    &:#{$insert} {
        @if $extend {
            @extend %icon;
        } @else {
            @include icon-styles($size);
        }
        content: icon-char($filename);
    }
}

/*
---
name: Icons
tag: icons
category: Basic
---

```html
    <div class="sg-icon icon-bookmarks" title="bookmarks"></div>
    <div class="sg-icon icon-burn-tags" title="burn-tags"></div>
    <div class="sg-icon icon-comments" title="comments"></div>
    <div class="sg-icon icon-fb" title="fb"></div>
    <div class="sg-icon icon-featured" title="featured"></div>
    <div class="sg-icon icon-instagram" title="instagram"></div>
    <div class="sg-icon icon-notification" title="notification"></div>
    <div class="sg-icon icon-repost" title="repost"></div>
    <div class="sg-icon icon-search" title="search"></div>
    <div class="sg-icon icon-twitch" title="twitch"></div>
    <div class="sg-icon icon-twitter" title="twitter"></div>
    <div class="sg-icon icon-views" title="views"></div>
    <div class="sg-icon icon-vk" title="vk"></div>
    <div class="sg-icon icon-youtube" title="youtube"></div>
```
*/

.icon-bookmarks {
    @include icon(bookmarks);
}
.icon-burn-tags {
    @include icon(burn-tags);
}
.icon-comments {
    @include icon(comments);
}
.icon-fb {
    @include icon(fb);
}
.icon-featured {
    @include icon(featured);
}
.icon-instagram {
    @include icon(instagram);
}
.icon-notification {
    @include icon(notification);
}
.icon-repost {
    @include icon(repost);
}
.icon-search {
    @include icon(search);
}
.icon-twitch {
    @include icon(twitch);
}
.icon-twitter {
    @include icon(twitter);
}
.icon-views {
    @include icon(views);
}
.icon-vk {
    @include icon(vk);
}
.icon-youtube {
    @include icon(youtube);
}