@font-face {
    font-family: "iconfont";
    src: url('../fonts/iconfont.woff2') format('woff2'),
        url('../fonts/iconfont.woff') format('woff'),
        url('../fonts/iconfont.ttf') format('truetype');
}

@mixin icon-styles($size: 1rem) {
    display: inline-block;
    font-family: "iconfont";
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    font-size: $size;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    text-decoration: none;
    text-transform: none;
    vertical-align: middle;
}

%icon {
    @include icon-styles;
}

@function icon-char($filename) {
    $char: "";

    @if $filename == add {
        $char: "\F120";
    }
    @if $filename == arrow {
        $char: "\F121";
    }
    @if $filename == back-arrow {
        $char: "\F122";
    }
    @if $filename == bell-notification {
        $char: "\F123";
    }
    @if $filename == bookmark {
        $char: "\F124";
    }
    @if $filename == cart {
        $char: "\F125";
    }
    @if $filename == comment {
        $char: "\F126";
    }
    @if $filename == copy {
        $char: "\F127";
    }
    @if $filename == delete {
        $char: "\F128";
    }
    @if $filename == discord {
        $char: "\F129";
    }
    @if $filename == edit {
        $char: "\F12A";
    }
    @if $filename == fb {
        $char: "\F12B";
    }
    @if $filename == fire {
        $char: "\F12C";
    }
    @if $filename == gear {
        $char: "\F12D";
    }
    @if $filename == google {
        $char: "\F12E";
    }
    @if $filename == guest {
        $char: "\F12F";
    }
    @if $filename == hashtag {
        $char: "\F130";
    }
    @if $filename == image {
        $char: "\F131";
    }
    @if $filename == info {
        $char: "\F132";
    }
    @if $filename == instagram {
        $char: "\F133";
    }
    @if $filename == logout {
        $char: "\F134";
    }
    @if $filename == network {
        $char: "\F135";
    }
    @if $filename == new_arrow {
        $char: "\F136";
    }
    @if $filename == pin-location {
        $char: "\F137";
    }
    @if $filename == quote {
        $char: "\F138";
    }
    @if $filename == rock {
        $char: "\F139";
    }
    @if $filename == search {
        $char: "\F13A";
    }
    @if $filename == selected {
        $char: "\F13B";
    }
    @if $filename == share {
        $char: "\F13C";
    }
    @if $filename == text {
        $char: "\F13D";
    }
    @if $filename == twitch {
        $char: "\F13E";
    }
    @if $filename == twitter {
        $char: "\F13F";
    }
    @if $filename == upload {
        $char: "\F140";
    }
    @if $filename == video {
        $char: "\F141";
    }
    @if $filename == views {
        $char: "\F142";
    }
    @if $filename == vk {
        $char: "\F143";
    }
    @if $filename == youtube {
        $char: "\F144";
    }

    @return $char;
}

@mixin icon($filename, $insert: before, $extend: true, $size: 16px) {
    &:#{$insert} {
        @if $extend {
            @extend %icon;
        } @else {
            @include icon-styles($size);
        }
        content: icon-char($filename);
    }
}

/*
---
name: Icons
tag: icons
category: Basic
---

```html
    <div class="sg-icon icon-add" title="add"></div>
    <div class="sg-icon icon-arrow" title="arrow"></div>
    <div class="sg-icon icon-back-arrow" title="back-arrow"></div>
    <div class="sg-icon icon-bell-notification" title="bell-notification"></div>
    <div class="sg-icon icon-bookmark" title="bookmark"></div>
    <div class="sg-icon icon-cart" title="cart"></div>
    <div class="sg-icon icon-comment" title="comment"></div>
    <div class="sg-icon icon-copy" title="copy"></div>
    <div class="sg-icon icon-delete" title="delete"></div>
    <div class="sg-icon icon-discord" title="discord"></div>
    <div class="sg-icon icon-edit" title="edit"></div>
    <div class="sg-icon icon-fb" title="fb"></div>
    <div class="sg-icon icon-fire" title="fire"></div>
    <div class="sg-icon icon-gear" title="gear"></div>
    <div class="sg-icon icon-google" title="google"></div>
    <div class="sg-icon icon-guest" title="guest"></div>
    <div class="sg-icon icon-hashtag" title="hashtag"></div>
    <div class="sg-icon icon-image" title="image"></div>
    <div class="sg-icon icon-info" title="info"></div>
    <div class="sg-icon icon-instagram" title="instagram"></div>
    <div class="sg-icon icon-logout" title="logout"></div>
    <div class="sg-icon icon-network" title="network"></div>
    <div class="sg-icon icon-new_arrow" title="new_arrow"></div>
    <div class="sg-icon icon-pin-location" title="pin-location"></div>
    <div class="sg-icon icon-quote" title="quote"></div>
    <div class="sg-icon icon-rock" title="rock"></div>
    <div class="sg-icon icon-search" title="search"></div>
    <div class="sg-icon icon-selected" title="selected"></div>
    <div class="sg-icon icon-share" title="share"></div>
    <div class="sg-icon icon-text" title="text"></div>
    <div class="sg-icon icon-twitch" title="twitch"></div>
    <div class="sg-icon icon-twitter" title="twitter"></div>
    <div class="sg-icon icon-upload" title="upload"></div>
    <div class="sg-icon icon-video" title="video"></div>
    <div class="sg-icon icon-views" title="views"></div>
    <div class="sg-icon icon-vk" title="vk"></div>
    <div class="sg-icon icon-youtube" title="youtube"></div>
```
*/

.icon-add {
    @include icon(add);
}
.icon-arrow {
    @include icon(arrow);
}
.icon-back-arrow {
    @include icon(back-arrow);
}
.icon-bell-notification {
    @include icon(bell-notification);
}
.icon-bookmark {
    @include icon(bookmark);
}
.icon-cart {
    @include icon(cart);
}
.icon-comment {
    @include icon(comment);
}
.icon-copy {
    @include icon(copy);
}
.icon-delete {
    @include icon(delete);
}
.icon-discord {
    @include icon(discord);
}
.icon-edit {
    @include icon(edit);
}
.icon-fb {
    @include icon(fb);
}
.icon-fire {
    @include icon(fire);
}
.icon-gear {
    @include icon(gear);
}
.icon-google {
    @include icon(google);
}
.icon-guest {
    @include icon(guest);
}
.icon-hashtag {
    @include icon(hashtag);
}
.icon-image {
    @include icon(image);
}
.icon-info {
    @include icon(info);
}
.icon-instagram {
    @include icon(instagram);
}
.icon-logout {
    @include icon(logout);
}
.icon-network {
    @include icon(network);
}
.icon-new_arrow {
    @include icon(new_arrow);
}
.icon-pin-location {
    @include icon(pin-location);
}
.icon-quote {
    @include icon(quote);
}
.icon-rock {
    @include icon(rock);
}
.icon-search {
    @include icon(search);
}
.icon-selected {
    @include icon(selected);
}
.icon-share {
    @include icon(share);
}
.icon-text {
    @include icon(text);
}
.icon-twitch {
    @include icon(twitch);
}
.icon-twitter {
    @include icon(twitter);
}
.icon-upload {
    @include icon(upload);
}
.icon-video {
    @include icon(video);
}
.icon-views {
    @include icon(views);
}
.icon-vk {
    @include icon(vk);
}
.icon-youtube {
    @include icon(youtube);
}