@font-face {
    font-family: "iconfont";
    src: url('../fonts/iconfont/iconfont.woff2') format('woff2'),
        url('../fonts/iconfont/iconfont.woff') format('woff'),
        url('../fonts/iconfont/iconfont.ttf') format('truetype');
}

@mixin icon-styles($size: 1rem) {
    display: inline-block;
    font-family: "iconfont";
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    font-size: $size;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    text-decoration: none;
    text-transform: none;
    vertical-align: middle;
}

%icon {
    @include icon-styles;
}

@function icon-char($filename) {
    $char: "";

    @if $filename == notification {
        $char: "\F120";
    }
    @if $filename == search {
        $char: "\F121";
    }

    @return $char;
}

@mixin icon($filename, $insert: before, $extend: true, $size: 16px) {
    &:#{$insert} {
        @if $extend {
            @extend %icon;
        } @else {
            @include icon-styles($size);
        }
        content: icon-char($filename);
    }
}

/*
---
name: Icons
tag: icons
category: Basic
---

```html
    <div class="sg-icon icon-notification" title="notification"></div>
    <div class="sg-icon icon-search" title="search"></div>
```
*/

.icon-notification {
    @include icon(notification);
}
.icon-search {
    @include icon(search);
}