.new-part-dropdown,
.new-part-text,
.js_add-image {
  width: 100%;
  height: 50px;
  background-position: center;
  background-size: contain;
  cursor: pointer;
}

.new-part-dropdown {
  background-image: url(../images/add.svg);
}
.new-part-text {
  background-image: url(../images/text.svg);
}
.js_add-image {
  background-image: url(../images/image.svg);
}
.new-article-title,
.new-article-intro {
  background-color: rgba(0, 0, 0, 0);
  border-color: #bcbcbc;
}
