.modal {
    @include position(fixed, top 0 right 0 bottom 0 left 0);

    display: none;
    background-color: rgba($color-primary21, 0.3);
    overflow: hidden;
    transition: transition(opacity);
    z-index: 12;

    &.show {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &-dialog {
        max-width: 380px;
        width: calc(100% - 20px);
        max-height: 100%;
        overflow: auto;
        background-color: $color-primary1;
        transform: scale(0.8);
        transition: transition(transform);
        will-change: transform;

        .show & {
            transform: scale(1);
        }
    }

    &-title {
        font-size: rem(24);
        font-weight: bold;
        color: $color-primary17;
    }

    &-close {
        @include position(absolute, top 0 right 0);

        cursor: pointer;
        color: $color-primary33;
        transition: transition(all);

        &:hover {
            @include tablet-all() {
                background: rgba($color-primary33, 0.8);
                color: $color-primary1;
            }
        }

        &:before {
            font-size: rem(25);
        }
    }

    &-action {
        font-size: rem(14);
        font-weight: bold;
        color: $color-primary22;
    }

    &-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 25px;
        padding: 20px 20px 0;

        @include tablet-all() {
            padding: 40px 40px 0;
        }
    }

    &-body {
        padding: 0 20px;

        @include tablet-all() {
            padding: 0 40px;
        }
    }

    &-footer {
        padding: 20px 20px;

        @include tablet-all() {
            padding: 40px 40px;
        }
    }

    &-btn {
        @include button-style(global light);

        margin: 15px 0 25px;

        @include mobile-all() {
            margin-bottom: 40px;
        }
    }

    &-open {
        height: 100vh;
        overflow-y: hidden;
        position: fixed;
        width: 100%;
    }
}