.qty {
    &-field {
        width: 136px;
        height: 56px;
        border-radius: 4px;
        display: flex;
        align-items: center;
        text-align: center;
    }

    &-input {
        width: 54px;
        border: 0;
        border-radius: 0;
        vertical-align: middle;
        text-align: center;
        border-top: 1px solid  $color-primary20;
        border-bottom: 1px solid  $color-primary20;
        padding: 0 10px;

        @include placeholder {
            color: $color-primary6;
        }
    }

    &-increment,
    &-decrement {
        width: 40px;
        height: 56px;
        background-color: $color-primary31;
        color: $color-primary12;
        font-size: rem(20);
        line-height: 56px;
        cursor: pointer;
        transition: transition(color);
        border: 1px solid  $color-primary20;

        &:hover {
            color: $color-primary6;
        }
    }


    &-increment {
        border-radius: 0 4px 4px 0;
    }

    &-decrement {
        border-radius: 4px 0 0 4px;
    }
}