// <div class="search-field">
//     <input name="zip" type="text" class="input-text search-input" id="zip-checkout-input">
//     <button class="search-btn">НАЙТИ</button>
// </div>
.button_wrap {
  &-field {
    position: relative;
  }

  &-input {
    padding-right: 55px;
  }

  &-btn {
    @include position(absolute, top 1px right 1px);

    height: 54px;
    padding: 0 15px;
    border: 0;
    // border-left: 1px solid $color-primary20;
    background: transparent;
    font-size: rem(12);
    font-weight: bold;
    color: $color-primary22;
    border-radius: 0 3px 3px 0;
    transition: transition(background);

    &:hover {
      background: $color-primary26;
    }
  }
}
