.out-of-stock-msg {
    color: $color-primary28;
    font-size: rem(20);
    font-weight: bold;
    line-height: 1.4;
}

.preorder-msg {
    color: $color-primary15;
    font-size: rem(20);
    font-weight: bold;
    line-height: 1.4;
}