<div itemprop="mainEntityOfPage" itemscope itemtype="https://schema.org/Article" data-th-each="article: ${articles}"
    class="blog-item">
    <div data-th-unless="${article.status.published}" class="posted_article_status-wrapper">
        <div class="posted_article_status-inner">
            <div data-th-if="${!article.status.draft}" class="posted_article_status-item moderate">
                <span data-th-text="${portal.localize({'_key=user.article.status.moderate', '_locale=ru'})}"></span>
                <a class="posted_article_status-btn icon-edit" data-th-href="${'/article/edit?id=' + article._id}"></a>
            </div>
            <div data-th-if="${article.status.draft}" class="posted_article_status-item draft">
                <span data-th-text="${portal.localize({'_key=user.article.status.draft', '_locale=ru'})}"></span>
                <a class="posted_article_status-btn icon-edit" data-th-href="${'/article/edit?id=' + article._id}"></a>
            </div>
        </div>
    </div>
    <a data-th-href="${article.url}" class="post-image_wrap" target="_blank">
        <img itemprop="image" data-th-src="${article.image.url}" data-th-alt="${article.image.alt}" />
    </a>
    <div class="post">
        <div class="post-info">
            <a data-th-href="${article.author.url}" itemprop="author" itemscope itemtype="http://schema.org/Person"
                data-th-title="${'Пользователь ' + article.author.displayName}">
                <span class="post-user_avatar">
                    <img data-th-src="${article.author.image.url}"
                        data-th-alt="${'Аватар ' + article.author.displayName}" />
                </span>
                <span itemprop="name" class="post-user_name" data-th-text="${article.author.displayName}"></span>
            </a>
            <span class="post-date" data-th-text="${article.date}"></span>
            <span class="post-date hidden" itemprop="datePublished" data-th-text="${article.publishDate}"></span>
            <span class="post-date hidden" itemprop="dateModified" data-th-text="${article.modifiedTime}"></span>
        </div>
        <h2>
            <a data-th-href="${article.url}" class="post-title" data-th-text="${article.displayName}" target="_blank"
                itemprop="name headline"></a>
        </h2>
        <div class="post-text" data-th-utext="${article.data.intro}" itemprop="backstory"></div>
        <div class="tag-list" data-th-if="${article.hashtags}">
            <a data-th-each="hashtag : ${article.hashtags}" data-th-href="${hashtag.url}" class="tag-item"
                data-th-text="${hashtag.displayName}" data-th-titles="${hashtag.displayName}"></a>
        </div>
    </div>
    <div data-th-remove="tag" data-th-utext="${article.footer}"></div>
    <a data-th-href="${article.urlAbsolute}" class="hidden" itemprop="url" data-th-text="${article.displayName}"></a>
    <meta itemprop="articleSection" content="Hobby">
    <div class="hidden" itemprop="publisher" itemscope itemtype="http://schema.org/Organization">
        <div itemprop="logo" itemscope itemtype="http://schema.org/ImageObject">
            <meta itemprop="url" data-th-attr="content=${article.publisher.logo}">
        </div>
        <span itemprop="name" data-th-attr="content=${article.publisher.name}"></span>
    </div>
</div>