<!--<div class="library_top hidden" style="background-image: url(https://picsum.photos/300/470?random);">
    <div class="library_top-label">Хит библиотеки</div>
    <div class="library_top-author">
        <span class="post-user_avatar">
            <img src="https://picsum.photos/24/24/?random" alt="" />
        </span>
        <span class="post-user_name">Rodue Latro</span>
    </div>
    <h2 class="library_top-title">Коллос Сильваноса</h2>
    <div class="library_top-text">
        Орки пробираются сквозь лес, оскверняя священную рощу. Вдруг глыба камней
        вместе с мхом и некоторыми растениями обретает форму гигантского существа.
        Лесные колосы - величественные и могущественные стражи лесов.
    </div>
    <div class="tag-list tag-list__white">
        <a href="#" class="tag-item">DnD</a>
        <a href="#" class="tag-item">5e</a>
        <a href="#" class="tag-item">Homebrew</a>
    </div>
</div>-->