<div class="social">
  <h3 class="social-title social-icon">Мы в этих ваших сетях</h3>
  <div class="social-list social-list__sides_align">
    <a data-th-href="${social.fb}" class="social-link facebook" title=""></a>
    <a data-th-href="${social.vk}" class="social-link vk" title="vk"></a>
    <a
      data-th-href="${social.twitter}"
      class="social-link twitter"
      title="twitter"
    ></a>
    <a
      data-th-href="${social.youtube}"
      class="social-link youtube"
      title="youtube"
    ></a>
    <a
      data-th-href="${social.instagram}"
      class="social-link instagram"
      title="instagram"
    ></a>
    <a
      data-th-href="${social.twitch}"
      class="social-link twitch"
      title="title"
    ></a>
  </div>
</div>
