.announce {
    padding: 0 25px 20px;

    @include tablet-all {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        padding-bottom: 25px;
        position: relative;
        z-index: 2;
    }

    img {
        @include mobile {
            margin: 0 auto;
        }
    }

    &-page {

        .main {
            padding-top: 0;
            padding-bottom: 0;

            &-top {
                background-image: url("../images/announce/bg-top.jpg");
                background-size: cover;
                background-position: top center;
                padding-top: 120px;
                position: relative;

                @include tablet-landscape-all {
                    height: 640px;
                }

                @include tablet-all {
                    &:before,
                    &:after {
                        @include position(absolute, top 0);

                        height: 100%;
                        width: 36.5%;
                        mix-blend-mode: multiply;
                        background-size: cover;
                        content: '';
                    }
        
                    &:before {
                        background-image: url("../images/announce/left-arc.png");
                        left: 0;
                        background-position: top left;
                    }
        
                    &:after {
                        background-image: url("../images/announce/right-arc.png");
                        right: 0;
                        background-position: top right;
                    }
                }
            }

            &-bottom {
                background-image: url("../images/announce/bg-bot.jpg");
                background-size: cover;
                background-position: top center;
                padding-top: 100px;
                padding-bottom: 85px;

                @include tablet-portrait {
                    padding-top: 80px;
                    margin-top: -90px;
                }

                @include tablet-landscape-all {
                    padding-top: 240px;
                }

                @include tablet-all {
                    position: relative;

                    &:after {
                        @include position(absolute, bottom 0);

                        height: 50%;
                        width: 100%;
                        opacity: 0.4;
                        background: linear-gradient(to bottom, #00000000, #160e21);
                        content: '';
                    }
                }

                .announce-countdown_title {
                    padding: 30px 0 40px;
                }
                
                .announce {
                    padding-bottom: 60px;
                }
            }
        }

        .latest_news {
            background: none;

            @include tablet-all {
                position: relative;
                z-index: 2;
            }
        }
    }

    &-image {
        @include tablet-all {
            flex: 0 1 66%;
        }
    }

    &-info {
        @include mobile {
            position: relative;
        }

        @include tablet-all {
            flex: 0 1 32%;

            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
    }

    &-date {
        text-align: center;
        padding: 25px 0;

        @include  tablet-all {
            padding: 16px 15px 20px 0;
        }
    }

    &-countdown_title {
        font-size: rem(36);
        padding-bottom: 20px;
        font-weight: bold;
        line-height: 1.28;
        color: $color-primary1;

        @include tablet-all {
            font-size: rem(40);
        }

        @include mobile {
            text-align: center;
        }
    }

    &-countdown_subtitle {
        color: $color-primary1;
        font-size: rem(24);

        @include mobile {
            text-align: center;
            padding-bottom: 40px;
        }
    }

    &-countdown {
        display: flex;
        justify-content: space-between;
        padding-bottom: 20px;

        @include mobile {
            max-width: 320px;
            margin: 0 auto;
        }
    }

    &-item {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &-value {
        font-size: 40px;
        font-weight: bold;
        color: $color-primary1;
        padding-bottom: 10px;

        &__days {
            color: $color-primary4;
        }
    }

    &-label {
        color: $color-primary34;
    }

    &-action {
        display: flex;
        align-items: center;
        flex-direction: column;
        padding-bottom: 30px;

        @include tablet-all {
            flex-direction: row;
            padding-bottom: 20px;
        }

        @include tablet-mobile {
            flex-wrap: wrap;
        }
    }

    &-caption {
        font-style: italic;
        color: $color-primary1;
    }

    &-buy_ticket {
        @include button-style(global light auto);


        @include tablet-mobile {
            margin-bottom: 6%;
        }

        @include tablet-all {
            flex: 1 0 auto;
            margin-right: 10px;
        }
    }

    &-info-image {
        @include mobile {
            padding-bottom: 40px;
        }
    }

    &-place {
        @include icon(pin-location);

        display: flex;
        align-items: center;
        color: $color-primary1;

        @include mobile {
            @include position(absolute, bottom -100px left 0 right 0);

            justify-content: center;
        }

        &:before {
            color: $color-primary35;
            font-size: rem(34);
            margin-right: 25px;

            @include tablet-portrait {
                margin-right: 15px;
            }
        }

        @include tablet-all {
            margin-bottom: 90px;
        }
    }

    &-place_name {
        font-size: rem(24);
        font-weight: bold;

        @include tablet-portrait {
            font-size: rem(18);
        }
    }

    &-place_street {
        font-size: rem(16);
    }
}