.article {
  &-header {
    @include tablet-all {
      padding: 20px 34% 20px 0;
    }

    .post-date {
      font-weight: bold;
      color: $color-primary1;
    }
  }

  &-body {
    background-color: $color-primary1;
    box-shadow: 0 5px 15px 0 rgba($color-primary21, 0.05);
  }

  &-content {
    padding: 30px 15px 0;

    @include tablet-all {
      padding: 30px 30px 0;
    }

    p {
      line-height: 1.71;
      color: $color-primary16;
      margin-bottom: 25px;
    }

    figure {
      margin: 0 -15px 25px;

      @include tablet-all {
        margin: 0 -30px 25px;
      }

      img {
        margin-bottom: 15px;
      }
    }

    figcaption {
      font-style: italic;
      color: $color-primary28;
      padding: 0 15px;

      @include tablet-all {
        padding: 0 30px;
      }
    }

    h2,
    h3,
    h4,
    h5 {
      font-weight: bold;
      color: $color-primary16;
      margin-bottom: 15px;
    }

    h2 {
      font-size: rem(32);
    }

    h3 {
      font-size: rem(28);
    }

    h4 {
      font-size: rem(24);
    }

    h5 {
      font-size: rem(18);
    }

    blockquote {
      @include icon(rock);

      font-size: rem(18);
      font-style: italic;
      line-height: 1.56;
      color: $color-primary16;
      display: inline-flex;
      margin-bottom: 25px;

      &:before {
        font-size: rem(22);
        padding-right: 15px;
        color: $color-primary15;
      }
    }

    .video-container {
      @include aspect-ratio(16, 9, iframe);

      margin: 0 -15px 25px;

      @include tablet-all {
        margin: 0 -30px 25px;
      }
    }
  }

  &-img_wrap {
    @include position(absolute, top 0 right 0);

    width: 100%;

    img {
      width: 100%;

      @supports (object-fit: cover) {
        object-fit: cover;
        height: 560px;
      }
    }
  }

  &-page {
    .blog {
      position: relative;
      padding-top: 180px;
    }

    .post-title {
      font-size: rem(32);
      font-weight: bold;
      color: $color-primary13;

      @include tablet-all {
        font-size: rem(48);
      }
    }

    .blog-content {
      @include tablet-all {
        width: 66%;
        float: left;
      }
    }
  }
}

.similar_posts {
  background-color: $color-primary1;
  margin-top: 10px;
  padding: 30px;
  box-shadow: 0 5px 15px 0 rgba($color-primary21, 0.05);

  &-title {
    color: $color-primary17;
    font-size: rem(24);
    font-weight: bold;
    padding-bottom: 15px;
  }

  &-link {
    line-height: 1.71;
    color: $color-primary16;
    margin-right: 15px;

    &:hover {
      color: $color-primary22;
    }
  }

  &-item {
    padding-bottom: 10px;
    display: flex;
  }
}

.comments {
  background-color: $color-primary1;
  margin-top: 10px;
  padding: 30px 15px;
  box-shadow: 0 5px 15px 0 rgba($color-primary21, 0.05);

  @include tablet-all {
    padding: 30px;
  }

  &-title {
    color: $color-primary17;
    font-size: rem(24);
    font-weight: bold;
    padding-bottom: 15px;
  }

  &-answer_comment {
    padding-top: 25px;
  }

  &-write_comment {
    &-wrap {
      position: relative;
      padding-bottom: 25px;

      @include mobile {
        display: flex;
        flex-direction: column;
        align-items: baseline;
      }
    }

    &-input {
      width: 100%;
      min-height: 60px;
      border-radius: 4px;
      resize: vertical;
    }

    &-button {
      @include button-style(global auto link);
      margin-top: 15px;
      transition-property: color;

      @include tablet-all {
        @include position(absolute, bottom 48px right 15px);

        margin-top: -24px;
      }

      .is-invalid & {
        @include tablet-all {
          bottom: 71px;
          order: 1;
        }
      }
    }
  }

  &-item {
    position: relative;
    z-index: 1;
    padding: 5px 0;
    margin: -5px 0px;

    & + & {
      margin-top: 20px;
    }

    & .comments-list {
      border-left: 1px solid $color-primary10;
      margin-top: 10px;
      padding: 15px 0 0 10px;

      @include tablet-all {
        padding-left: 25px;
      }

      &.next_floor {
        position: relative;
        margin-left: -99px;
        background: $color-primary1;
        padding-bottom: 15px;

        @include tablet-all {
          margin-left: -234px;
        }

        &::before,
        &::after {
          content: "";
          width: 233px;
          border-bottom: 1px solid $color-primary10;
        }

        &::before {
          @include position(absolute, top 0 left 0);
        }

        &::after {
          @include position(absolute, bottom -5px left 0);

          height: 15px;
          background: $color-primary1;
        }
      }
    }
  }

  &-new {
    &:before {
      @include position(absolute, top 0 right -30px left -27px);

      content: "";
      height: 100%;
      z-index: -1;
      border-left: 3px solid $color-primary15;
      background-color: rgba($color-primary15, 0.1);
      animation-duration: 2000ms;
      animation-fill-mode: forwards;
      animation-name: animate__comment-highlight;
      animation-timing-function: ease-out;
    }
  }

  &-header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &-actions {
    display: flex;
    margin-bottom: 10px;

    @include mobile {
      flex-direction: column;
      align-items: center;
    }
  }

  &-remove_btn {
    padding: 0;

    @include tablet-all {
      margin-left: 20px;
    }
  }

  &-body {
    line-height: 1.71;
    color: $color-primary16;
    padding-bottom: 10px;

    &.deleted {
      color: $color-primary8;
    }
  }

  &-link {
    font-size: 12px;
    font-weight: bold;
    line-height: 1.5;
    color: $color-primary28;

    &:first-child {
      margin-right: 15px;
    }

    &:hover {
      color: $color-primary22;
    }
  }
}

@keyframes animate__comment-highlight {
  to {
    background-color: transparent;
    border-color: transparent;
  }
}
