.cart {
    &-wrap {
        padding: 100px 0;

        @include mobile() {
            padding-top: 40px;
        }
    }

    &-item {
        @include tablet-all {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        border-bottom: 1px solid $color-primary10;
        padding: 35px 0;
        position: relative;

        &:first-child {
            @include mobile() {
                padding-top: 0;

                .cart-product_img {
                    top: 0;
                }
            }
        }
    }

    &-product_img {
        @include tablet-all {
            flex: 0 1 140px;
        }

        @include mobile() {
            @include position(absolute, top 35px left 0);

            width: 35%;
            max-width: 140px;
        }

        img {
            width: 100%;
        }
    }

    &-product_description {
        @include tablet-all {
            flex: 1 1 300px;
        }

        padding: 0 40px;
    }

    &-product_qty,
    &-product_description {
        @include mobile() {
            padding-left: 40%;
            padding-bottom: 20px;
        }
    }

    &-product_title {
        font-size: 20px;
        color: $color-primary2;
        line-height: 1.6;
        font-weight: 400;
    }

    &-product_size {
        color: $color-primary28;
        font-size: rem(14);
        line-height: 1.7;
    }

    &-product_price {
        &-wrap {
            padding-left: 40px;
            flex: 1 0 100px;
            display: flex;
            justify-content: flex-end;
            flex-wrap: wrap;

            @include mobile() {
                padding-left: 40%;
            }
        }

        .price {
            display: block;
            font-size: rem(20);
            font-weight: bold;
            text-align: right;

            .price + .price {
                padding-left: 15px;
            }
        }
    }

    &-remove_btn {
        @include position(absolute, top 0 right 0);

        @include tablet-all {
            top: 35px;
        }
    }

    &-total {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid $color-primary10;
        padding: 35px 0;
        font-size: rem(20);
        font-weight: 700;
    }
}