.checkout {
    &-wrap {
        display: flex;
        align-items: stretch;
        justify-content: center;
        background: $color-primary1;

        &:after,
        &:before {
            content: '';
            flex: 1 1 100%;
        }

        &:before {
            background: $color-primary1;
        }

        &:after {
            background: $color-primary26;
        }

        .site_width {
            flex: 1 0 100%;
            display: flex;
            padding: 0;
            justify-content: space-between;
        }
    }

    &-info {
        background: $color-primary1;
        flex: 1 0 71%;
        max-width: 900px;
        padding: 65px 9% 140px 20px;

        .form-group-address {
            margin-bottom: 30px;
        }
    }

    &-title {
        font-size: 24px;
        font-weight: bold;
        color: $color-primary17;
        padding-bottom: 25px;
    }

    &-form {
        margin-top: 10px;
    }

    &-action {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 70px;
    }

    &-back {
        @include button-style(icon);
        @include icon(back-arrow);

        &:before {
            font-size: rem(10);
        }
    }

    &-continue {
        @include button-style(global light auto);
    }

    &-summary {
        background: $color-primary26;
        flex: 1 0 29%;
        max-width: 360px;
        padding: 65px 20px 0 4%;
    }
}

.step {
    &-list {
        display: flex;
        margin-bottom: 70px;

        &-two {
            .step-item {
                flex-basis: calc(100% / 2);
            }
            
            .step-item-payment {
                display: none;
            }
        }
    }

    &-item {
        position: relative;
        flex: 1 0 calc(100% / 3);
        padding-bottom: 32px;
        line-height: 1.5;
        border-bottom: 1px solid $color-primary20;
        color: $color-primary12;
        text-align: center;
        text-transform: uppercase;

        &.active {
            border-color: $color-primary15;
            color: $color-primary2;
            font-weight: bold;
        }

        &-info {
            &:before {
                @include position(absolute, top -14px left 0px)

                content: '';
                width: 32px;
                height: 39px;
                background-image: url("../images/smal-logo.png");
            }
        }
    }
}

.summary {
    &-cart_counter {
        width: 24px;
        height: 24px;
        line-height: 24px;
        border-radius: 50%;
        background: $color-primary24;
        color: $color-primary1;
        text-align: center;
        font-weight: bold;
    }

    &-header {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid $color-primary20;
        margin-bottom: 50px;
    }

    &-product-item {
        display: flex;
    }

    &-product-info {
        margin-left: 25px;
    }

    &-product-img_wrap {
        flex-shrink: 0;
    }

    &-product-name {
        color: $color-primary16;
        line-height: 1.71;
        margin-bottom: 8px;
    }

    &-product-price {
        font-weight: bold;
        color: $color-primary28;
    }

    &-product-list {
        padding-bottom: 50px;
        border-bottom: 1px solid $color-primary20;
    }

    &-purchase {
        color: $color-primary28;
        font-weight: bold;
        padding-top: 10px;

        .label, 
        .value {
            padding: 10px 0;
        }
    }

    &-total,
    &-shipping,
    &-discount,
    &-subtotal {
        display: flex;
        justify-content: space-between;
    }

    &-discount {
        border-bottom: 1px solid $color-primary20;
        padding-bottom: 10px;
    }

    &-subtotal {
        padding-top: 20px;
        color: $color-primary6;
    }

    &-purchase .value {
        text-align: right;
    }
}

.promo_code {
    border-bottom: 1px solid $color-primary20;

    &-title {
        padding: 20px 0;
        color:  $color-primary6;
        font-weight: bold;
    }

    &-field {
        display: flex;
        padding-bottom: 20px;
    }

    &-btn {
        @include button-style(global dark auto);

        margin-left: 10px;
        padding: 10px 24px;
        min-width: 70px;
    }
}

.delivery {
    &-address {
        display: flex;
        border-radius: 3px;
        border: 1px solid $color-primary20;
        margin-bottom: 50px;
    }

    &-shipto {
        padding: 40px;
    }

    &-shipto,
    &-map {
        flex: 1 1 50%;
    }

    &-map {
        text-align: center;
    }

    &-shipto { 
        border-right: 1px solid $color-primary20;
    }
}
.shipto {

    &-info p {
        line-height: 1.71;
        color: $color-primary16;
    }

    &-actions {
        margin-top: 15px;
    }

    &-link {
        & + & {
            margin-left: 40px;
        }
    }
}