.comingSoonMain{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}
.comingSoonBackground{
	background-image: url('../images/background-min.png');
	background-size: cover;
	padding: 0 40px;
	position: relative;
    z-index: 0;
    flex-shrink: 0;
	min-height: 85%;
	display: flex;
    align-items: center;
    &:after{
		width: 100%;
		height: 26px;
		background-image: url(../images/overlay-min.png);
		background-repeat: repeat-x;
		content: '';
		position: absolute;
		bottom: 0;
		z-index: -1;
		left: 0;
    }
}
.comingSoonWrapper{
	width: 380px;
	text-align: center;
	margin: 0 auto;
	padding: 40px 0 60px 0;
}
.spellWrapper{
	width: 980px;
	text-align: center;
	margin: 0 auto;
	padding: 40px 0 60px 0;
}
.comingSoonText{
	color: $color-primary1;
	margin: 47px auto 0 auto;
}
.comingSoonTitle{
	font-weight: bold;
	font-size: 48px;
}
.comingSoonDescription{
	width: 364px;
	font-size: rem(14);
	line-height: 1.43;
	text-align: center;
	color: $color-primary1;
	margin: 25px auto 0 auto;
}
.spellDescription{
	width: 980px;
	font-size: rem(14);
	line-height: 1.43;
	text-align: center;
	color: $color-primary1;
	margin: 25px auto 0 auto;
}

.comingSoonMailBlock{
	margin: 32px auto 0 auto;

	@media only screen and (min-width: $breakpoint-mobile-max) {
		display: flex;
		justify-content: center;
	}

	.comingSoonInput{
		height: 40px;
		border-radius: 4px;
		background-color: $color-primary1;
		box-shadow: 0 4px 16px 0 rgba(165, 36, 20, 0.5);
		font-size: rem(14);
		line-height: 40px;
		color: $color-primary6;
		padding: 0 15px;
		border: 1px solid transparent;
		width: 240px;
	}

	.comingSoonButton {
		height: 40px;
		background-color: $color-primary4;
		box-shadow: 0 4px 16px 0 rgba(165, 36, 20, 0.5);

		@media only screen and (min-width: $breakpoint-mobile-max) {
			margin-left: 15px;
		}
		
		&:hover {
			box-shadow: 0 4px 16px 0 rgba(165, 36, 20, 0.5);
			background-color: $color-primary5;
		}
	
		&:active,
		&:focus {
			box-shadow: inset 0 0 8px 0 rgba(0, 0, 0, 0.5);
		}
	}
}

@media only screen and (max-width: $breakpoint-mobile-max) {
	.comingSoonMailBlock .comingSoonInput, .comingSoonMailBlock .comingSoonButton, .comingSoonDescription, .comingSoonText, .comingSoonWrapper{
		width: 100%;
	}
	.comingSoonInput{
		margin-bottom: 25px;
	}
}

.comingSoonSocial{
	margin: 0 auto;
	display: table;
	margin-top: 45px;
	padding: 10px 10px 60px 10px;
	align-self: center;

	.comingSoonSocialBiggerWrapper {
		div:first-child{
			margin-left: 0;
		}
	}
	.comingSoonSocialBiggerWrapper,
	.comingSoonSocialSmallerWrapper{
		float: left;
		div{
			width: 32px;
			height: 32px;
			float: left;
			margin-left: 32px;
			background-size: contain;
			a{
				display: block;
				height: 100%;
			}
			a:hover{
				box-shadow: 0 4px 16px 0 rgba(165, 36, 20, 0.5);
			}
		}
	}
	@media only screen and (max-width: $breakpoint-mobile-max) {
		margin-top: 40px;
		div {
			.comingSoonSocialSmaller{
				width: 24px;
				height: 24px;
				margin: 24px 0 0 21px;

				&:first-child{
					margin-left: 0;
				}
			}
		}
		.comingSoonSocialBiggerWrapper,
		.comingSoonSocialSmallerWrapper{
			float: none;
		}
	}
}
.comingSoonTwitch{
	background-image: url('../images/twitch.svg');
}
.comingSoonYoutube{
	background-image: url('../images/youtube.svg');
}
.comingSoonDiscord{
	background-image: url('../images/discord@3x.png');
}
.comingSoonVk{
	background-image: url('../images/vk.svg');
}
.comingSoonFb{
	background-image: url('../images/facebook.svg');
}
.comingSoonTw{
	background-image: url('../images/twitter.svg');
}
.comingSoonIn{
	background-image: url('../images/instagram.svg');
}

