.freshest {
    width: 66%;
    float: left;
}

.schedule {
    width: 32%;
    float: right;
}

.latest_news {
    &-title {
        font-family: $font-main-regular;
        font-size: rem(14);
        font-weight: bold;
        color: $color-primary1;
        text-transform: uppercase;
        margin-bottom: 8px;
    }

    &-iframe_wrap {
        border-radius: 4px;
        overflow: hidden;
        position: relative;
        padding-bottom: 51.903%;
        padding-top: 25px;
        height: 0;

        iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
}

.schedule {
    &-item {
        padding: 30px 30px 15px;
        box-shadow: 0 2px 8px 0 rgba(217, 144, 49, 0.24);
        height: 109px;

        & + & {
            margin-top: 10px;
        }
    }

    &-date {
        font-size: rem(12);
    
        .month {
            color: #e23d23;
            font-weight: 500;
        }
        
        .date {
            font-weight: bold;
        }
    }
    
    &-title {
        @include truncate();
        font-family: Roboto;
        font-size: rem(18);
        font-weight: bold;
        margin-bottom: 5px;
    }

    .tag {
        &-item {
            opacity: 0.75;
            font-family: $font-main-regular;
            font-size: rem(10);
            
            &:hover {
                opacity: 1;
            }
        }
    
        &-item + &-item {
            margin-left: 5px;
        }
    }
}



.main_blog {
    background: $color-primary13;
    margin-bottom: 50px;
}

.blog {
    &-navigation {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 34% 20px 0;

        .hotter-btn {
            @include icon(burn-tags);
        }

        .fresher-btn {

        }

        .bookmarks-btn {
            @include icon(bookmarks);
        }
    }

    &-list {
        width: 66%;
        float: left;
    }

    &-item {
        font-size: rem(14);
        background-color: $color-primary1;

        & + & {
            margin-top: 15px;
        }
    }

    .fresher-btn,
    .hotter-btn,
    .bookmarks-btn, {
        font-family: Roboto;
        font-size: rem(14);
        font-weight: bold;
        color: $color-primary12;
        text-transform: capitalize;
    
        &.active {
            font-size: rem(24);
            color: $color-primary11;
        }
    }

    .share-counter,
    .views-counter,
    .comments-counter,
    .like-btn {
        font-family: Roboto;
        font-size: rem(14);
    }

    .add_to_bookmarks-btn {
        margin-right: 25px;

        &.active {
            color: $color-primary18;
        }
    }

    .like-btn {
        &.active {
            color: $color-primary17;
            font-weight: bold;

            &::before {
                color: $color-primary19;
            }
        }
    }

    &-sidebar {
        float: right;
        padding-left: 25px;
        width: 34%;
    }
}

.post {
    padding: 25px 30px 15px;
    border-bottom: 1px solid $color-primary14;

    &-user_name {
        color: $color-primary15;
        margin-right: 5px;
    }

    &-date {
        color: $color-primary12;
    }

    &-user_avatar {
        width: 24px;
        border-radius: 50%;
        overflow: hidden;
        display: inline-block;
        vertical-align: middle;
        margin-right: 5px;
    }

    &-info {
        margin-bottom: 10px;
    }

    &-title {
        font-size: rem(24);
        font-weight: bold;
        color: $color-primary17;
        margin-bottom: 20px; 
    }

    &-text {
        line-height: 1.71; 
        color: $color-primary16;
        margin-bottom: 15px;
    }

    .tag-item {
        color: $color-primary15;
    }
    
    &-counters {
        span {
            margin-right: 25px;
        }
    }

    &-footer {
        color: $color-primary12;
        padding: 25px 30px;
        display: flex;
        justify-content: space-between;
    }
}

.library_top {
    padding: 140px 30px 30px;
    position: relative;

    &-label {
        font-size: 14px;
        font-weight: bold;
        position: absolute;
        top: 25px;
        left: -4px;
        padding: 0 15px 0 34px;
        height: 40px;
        line-height: 40px;
        background: $color-primary15;
    }
    
    &-author .post-user_name {
        font-weight: bold;
        color: $color-primary1;
    }
    
    &-title {
        font-size: rem(24);
        font-weight: bold;
        padding: 10px 0 20px;
    }
    
    &-text {
        line-height: 1.71;
        font-size: rem(14);
        margin-bottom: 20px;
    }
    
    &-tags-list .tag-item {
        font-size: rem(14);
        font-weight: bold;
    }
}