.landing {
  &-page {
    background-color: #443A97;
    padding-top: 40px;
  }

  &-header {
    padding-bottom: 32px;
  
    @include tablet-all {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      padding-bottom: 40px;
    }
  }

  &-where {
      border-bottom: 2px solid #EE1E5D;
      padding-bottom: 10px;

      @include tablet-all {
        width: 41%;
      }
  }

  &-date {
    @include mobile {
      padding-bottom: 25px;
    }

    @include tablet-all {
      max-width: 32.5%;
    }
  }
}

.hero_banner {
  position: relative;

  &-img {
    img {
      padding-left: 10px;
      padding-bottom: 10px;
    }
    &:before {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      height: calc(100% - 10px);
      background: #B21E43;
      width: 10px;
    }
  }

  &:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 10px;
    background: #B21E43;
    width: calc(100% - 10px);
  }

  .hero_banner-content {
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    padding: 20px 87px;
    flex-wrap: wrap;
}

  .hero_banner-title {
      font-family: Raleway;
      font-weight: bold;
      font-size: 48px;
      line-height: 48px;
      color: #FFFFFF;
      width: 100%;
      text-transform: uppercase;
  }

  .hero_banner-tickets {
      background: #EE1E5D;
      font-family: Raleway;
      font-weight: bold;
      font-size: 16px;
      line-height: 20px;
      color: #FFFFFF;
      border: 0;
      padding: 16px 24px;
      color: #fff;
      text-transform: uppercase;
  }

  .hero_banner-participate {
      padding: 16px 24px;
      border: 1px solid #FFFFFF;
      border-radius: 1px;
      background: transparent;
      color: #fff;
      text-transform: uppercase;
      font-family: Raleway;
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 20px;
      text-align: center;
  }
}


.site_content {
    margin: 0 auto;
    max-width: 1152px;
    width: 100%;
    padding: 0 24px;
  
    @include tablet-all {
      padding: 0 59px;
    }
}