.landing {
  &-page {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #000000;
    font-family: $font-additional-regular;

    .blog_width {
      padding: 0 15px;

      @include tablet-all {
        max-width: 924px;
        padding: 0 20px;
      }
    }
  }

  &-main {
    background-image: url("../images/kosticon2020/background.jpg");
    background-color: #000000;
  }

  &-wrapper {
    @include mobile {
      position: relative;
      overflow: hidden;
    }

    @media only screen and (max-width : #{$breakpoint-portrait-max}) {
      // height: 100%;
    }
  }

  &-inner {
    position: relative;
    z-index: 1;

    @media only screen and (max-width : #{$breakpoint-portrait-max}) {
      display: flex;
      flex-direction: column;
      height: 100%;
    }

    &:before {
      @media only screen and (min-width : #{$breakpoint-tablet-landscape-min}) {
        background-image: url("../images/kosticon2020/deco-bg.png");
        background-position: left top;
        content: "";
        display: block;
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: -55px;
        z-index: -1;
      }
    }

    &:after {
      @media only screen and (min-width : #{$breakpoint-tablet-landscape-min}) {
        background-image: url("../images/kosticon2020/line-devider.png");
        background-position: left top;
        background-repeat: repeat-y;
        content: "";
        display: block;
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: -1px;
        z-index: -1;
      }
    }
  }

  &-header {
    background: transparent;
    box-shadow: none;

    &:after {
      content: none;
    }

    &.header-scroll {
      &:after {
        content: "";
      }
    }

    .site_width {
      max-width: 950px;
      padding-left: 20px;
      padding-right: 20px;

      @include tablet {
        padding-left: 10px;
        padding-right: 10px;
      }

      @include desktop {
        padding-left: 0;
        padding-right: 0;
      }

      .header-logo {
        max-width: 139px;
      }
    }
  }

  &-lang {
    &-list {
      display: flex;
    }

    &-link {
      display: inline-block;
      padding: 4px;
      font-size: rem(14);
      font-weight: 600;
      color: rgba($color-primary1, 0.5);
      text-transform: uppercase;

      &.active,
      &:hover {
        color: $color-primary1;
      }
    }
  }

  &-caption {
    display: inline-block;
    font-size: rem(12);
    font-weight: bold;
    color: $color-primary1;

    @include tablet-all {
      font-size: rem(14);
    }
  }

  &-info {
    display: inline-block;
    padding: 5px;
    background-color: #ee1e5d;
    font-size: rem(12);
    font-weight: bold;
    color: #ffffff;

    @include mobile {
      margin-bottom: 5px;
    }

    @include tablet-all {
      font-size: rem(14);
    }
  }

  &-caption-wrap {
    margin-bottom: 10px;

    @include mobile {
      display: flex;
      flex-direction: column-reverse;
      align-items: baseline;
    }
  }

  &-kosticon_img {
    margin-bottom: 10px;
  }

  &-top {
    @include mobile {
      background-image: url("../images/kosticon2020/line.png");
      background-position: left bottom;
      position: relative;
      padding-bottom: 30px;
      margin-bottom: 20px;
    }

    @include tablet-all {
      display: flex;
      justify-content: space-between;
      // align-items: flex-end;
      padding-bottom: 70px;
    }
  }

  &-top-image {
    @include mobile {
      position: absolute;
      right: -84px;
      bottom: -145px;
    }

    @include tablet-all {
      padding-left: 90px;
    }

    img {
      @include mobile {
        height: 190px;
      }
    }
  }

  &-top-text {
    @include tablet-all {
      flex: 0 0 56%;
    }
  }

  &-counter-separator,
  &-counter-qty {
    font-size: 40px;

    @include tablet-all {
      font-size: 92px;
      letter-spacing: -6px;
    }

    @include tablet {
      font-size: 64px;
    }
  }

  &-counter-item {
    display: flex;
    flex-direction: column;

    &+& {
      .landing-counter-label {
        @include tablet-all {
          padding-left: 10px;
        }
      }
    }
  }

  &-counter {
    display: flex;
  }

  &-counter-separator {
    @include mobile {
      padding-right: 7px;
    }
  }

  &-counter-value {
    font-weight: normal;
    color: #ee1e5d;
  }

  &-counter-label {
    font-size: rem(14);
    font-weight: bold;
    color: $color-primary1;
  }

  &-middle {
    @include tablet-all {
      display: flex;
      justify-content: space-between;
      padding-bottom: 45px;
    }

    @include mobile {
      position: relative;
    }
  }

  &-middle-item {
    @include tablet-all {
      display: flex;
      flex-direction: column;
      width: 31%;
    }

    &+& {
      @include mobile {
        margin-top: 40px;
      }
    }

    &.landing-middle-faq {
      @include mobile {
        margin-top: 45px;
      }

      @include tablet-all {
        width: 66%;
      }
    }

    &.landing-middle-telegram {
      display: block;
    }
  }

  &-actions-list {
    margin-top: auto;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;

    @include tablet-portrait {
      display: block;
    }
  }

  &-actions-item {
    &+& {
      @include tablet-landscape {
        margin-left: 10px;
      }

      @include tablet-portrait {
        margin-top: 10px;
      }

      @include desktop {
        margin-left: 10px;
      }
    }

    .icon-telegram {
      width: 24px;
      height: 22px;
      margin-right: 15px;

      svg>g {
        stroke: #3AA4E4;
        transition: all .2s ease 0s;
      }
    }
  }

  &-title {
    display: flex;
    font-size: 20px;
    font-weight: bold;
    color: #ee1e5d;
    margin-bottom: 10px;

    &:after {
      content: '';
      flex: 1 1 auto;
      background: #ee1e5d;
      height: 1px;
      align-self: center;
      margin-left: 5px;
    }
  }

  &-description {
    font-size: 14px;
    font-weight: 300;
    color: #ffffff;
    margin-bottom: 15px;
  }

  &-link {
    display: flex;
    align-items: center;
    font-size: 15px;
    color: #3aa4e4;
    text-transform: uppercase;

    &:hover {
      @include tablet-all {
        color: #ee1e5d;

        svg>g {
          stroke: #ee1e5d;
        }
      }
    }

    &:focus {
      color: #ee1e5d;
    }
  }

  &-subscribe-input {
    border: solid 1px #3aa4e4;
    background-color: #101b21;
    border-radius: 0;
    color: #ee1e5d;
    height: 42px;
    padding-right: 60px;

    @include mobile {
      margin-bottom: 7px;
    }
  }

  &-subscribe-wrap {
    position: relative;

    @include tablet {
      margin-top: auto;
    }
  }

  &-subscribe-btn {
    width: 100%;

    @include mobile {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px 0;
      background: #3aa4e4;
      color: #ffffff;
      text-transform: uppercase;
      font-size: 16px;
      border: 1px solid #3aa4e4;
    }

    @include tablet-all {
      position: absolute;
      top: auto;
      right: 0;
      height: 100%;
      width: 50px;
      background-color: #3aa4e4;
      border: 1px solid #3aa4e4;
      color: white;
    }

    &:hover {
      @include tablet-all {
        color: #ee1e5d;
      }
    }

    &:focus {
      color: #ee1e5d;
    }

    .icon-selected {
      font-size: 14px;

      @include mobile {
        margin-left: 10px;
        margin-bottom: 4px;
      }
    }
  }

  &-subscribe-text {
    @include tablet-all {
      display: none;
    }
  }

  &-snake_logo {
    position: relative;
    margin-bottom: 50px;
    margin-top: 30px;

    @include tablet {
      margin-top: auto;
    }

    @media only screen and (min-width : #{$breakpoint-tablet-landscape-min}) {
      margin: 15px 0 20px;
      height: 75px;
    }

    &::before,
    &::after {
      @media only screen and (max-width : #{$breakpoint-portrait-max}) {
        position: absolute;
        top: 50%;
        width: calc(50% - 33px);
        height: 1px;
        content: '';
        background-image: url("../images/kosticon2020/line.png");
      }
    }

    &::before {
      @media only screen and (max-width : #{$breakpoint-portrait-max}) {
        right: -20px;
        background-position: center right;
      }
    }

    &::after {
      @media only screen and (max-width : #{$breakpoint-portrait-max}) {
        left: -20px;
        background-position: center left;
      }
    }

    &-img_wrap {
      max-width: 60px;
      margin: 0 auto;

      @media only screen and (min-width : #{$breakpoint-tablet-landscape-min}) {
        position: absolute;
        left: -55px;
        background: #000;
        padding: 10px 0 5px;
      }
    }
  }

  &-buy_ticket {
    &.button {
      padding: 11px 32px;
      background-color: #3aa4e4;
      border-radius: 0;
      color: white;
      font-size: 20px;
      font-weight: 100;
      margin-bottom: 15px;

      &:hover {
        background: #ee1e5d;
      }
    }

    &-caption {
      font-size: 14px;
      font-weight: 700;
      color: #fff;
      text-align: center;
      position: absolute;
      left: 0;
      right: 0;
      text-transform: lowercase;
    }

    &-progress {
      height: 16px;
      background-color: rgba(255, 255, 255, 0.24);
      position: relative;
    }

    &-current {
      position: absolute;
      top: 0;
      left: 0;
      height: 16px;
      background-color: #ee1e5d;
      width: 20%;
    }
  }

  &-faq-accordion {
    ol {
      list-style: decimal;
    }

    ul {
      list-style: disc;
    }

    ol,
    ul {
      padding-left: 40px;

      li {
        margin-bottom: 10px;
      }
    }

    a:hover {
      color: #ee1e5d;
    }

    &-title {
      display: inline-block;
      font-size: 16px;
      color: #3aa4e4;
      line-height: 22px;
      padding: 5px 0;
      cursor: pointer;
      transition: all .2s ease 0s;

      &:hover {
        @include tablet-all {
          color: #ee1e5d;
        }
      }
    }

    &-icon {
      position: relative;
      display: inline-block;
      width: 10px;
      height: 10px;

      &:after,
      &:before {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translate(0, -50%);
        content: '';
        border: 1px solid #076795;
        width: 10px;
        transition: all .2s ease 0s;

        .landing-faq-accordion-title:hover & {
          @include tablet-all {
            border-color: #ee1e5d;
          }
        }
      }

      &:after {
        transform: rotate(90deg);
        margin-top: -1px;

        .active & {
          transform: rotate(0);
        }
      }
    }

    &-content {
      max-height: 0;
      overflow: hidden;
      opacity: 0;
      margin: 0;
      transition: all .2s ease 0s;
      font-size: 14px;
      line-height: 16px;
      color: white;
      font-weight: 300;
      padding: 0 15px;
      border-left: 1px solid #ee1e5d;

      .active & {
        max-height: 2000px;
        overflow: visible;
        opacity: 1;
        margin: 15px 0;
      }
    }
  }

  &-bottom {
    @include tablet-all {
      display: flex;
      justify-content: space-between;
      position: relative;
    }

    @include mobile {
      display: flex;
      flex-direction: column-reverse;
    }

    &::after {
      @media only screen and (min-width : #{$breakpoint-tablet-landscape-min}) {
        position: absolute;
        left: -75px;
        top: -20px;
        width: 70%;
        height: 1px;
        content: '';
        background-image: url("../images/kosticon2020/line.png");
        background-repeat: repeat-x;
        background-position: center;
      }
    }
  }

  &-kosticon2019 {
    margin-top: 45px;
  }

  &-main-video {
    overflow: hidden;
    position: relative;
    padding-bottom: 52%;
    padding-top: 25px;
    height: 0;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.16);

    &-wrap {
      @media only screen and (min-width : #{$breakpoint-tablet-landscape-min}) {
        max-width: 600px;
        margin: 0 auto;
      }

      @include tablet-all {
        margin-bottom: 56px;
      }

      @include mobile {
        margin-top: 15px;
      }
    }

    iframe {
      @include position(absolute, top 0 left 0);

      width: 100%;
      height: 100%;
    }
  }

  &-video-wrap {
    margin-top: 15px;
    overflow: hidden;
    position: relative;
    padding-bottom: 51.903%;
    padding-top: 25px;
    height: 0;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.16);

    iframe {
      @include position(absolute, top 0 left 0);

      width: 100%;
      height: 100%;
    }
  }

  &-footer {
    display: flex;
    padding-bottom: 40px;


    @media only screen and (max-width : #{$breakpoint-portrait-max}) {
      justify-content: center;
    }

    &-item+&-item {
      margin-left: 25px;
    }

    &-link {
      font-size: 16px;
      color: #3aa4e4;
      text-transform: capitalize;

      &:hover {
        color: #ee1e5d;
      }
    }
  }

  &-attention {
    font-weight: 400;
    color: #ee1e5d;
    font-size: 16px;

    &+& {
      margin-top: 15px;
    }
  }
}