.k_games {
    &-wrap {
        .fest_contacts {
            margin-top: 64px4;
        }
    }

    &-time_title {
        font-family: Raleway;
        font-style: normal;
        font-weight: 900;
        font-size: 32px;
        line-height: 1.3;
        font-feature-settings: 'pnum' on, 'lnum' on;
        color: #443A97;
        padding-bottom: 24px;
    }
    
    &-list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &-item {
        flex: 0 0 32%;
        margin-bottom: 40px;
    }

    &-seats {
        position: absolute;
        padding: 8px;
        font-weight: bold;
        font-size: 16px;
        line-height: 1.8;
        color: #FFFFFF;
        bottom: 8px;
        background: #EE205F;
        text-transform: uppercase;
    }
    
    &-img_wrap {
        position: relative;
        margin-bottom: 16px;
    }
    
    &-game_name {
        font-family: Raleway;
        font-weight: 900;
        font-size: 24px;
        line-height: 1.35;
        color: #11090F;
    }
    
    &-game_desc {
        /* font-family: Myriad Pro; */
        font-size: 14px;
        line-height: 1.45;
        color: #11090F;
        padding: 8px 0;
    }
    
    &-link_more {
        font-family: Raleway;
        font-weight: bold;
        font-size: 16px;
        line-height: 1.45;
        color: #EE205F;

        &:hover {
            opacity: 0.8;
        }
    }

    &-game_actions {
        position: relative;
    
        &:after {
            content: "";
            height: 2px;
            background: #F9A033;
            display: block;
            margin-top: 8px;
            width: 64%;
        }
    }

    &-game_system {
        font-family: Raleway;
        font-weight: bold;
        font-size: 16px;
        line-height: 1.45;
        color: #443A97;
        padding-top: 8px;
    }

    &-pagination {
        display: flex;
    
        &-link {
            width: 58px;
            height: 52px;
            background: #EE205F;
            border-radius: 1px;
            text-align: center;
            display: inline-block;
            padding: 16px 5px;
            font-family: Raleway;
            font-weight: 900;
            font-size: 16px;
            line-height: 1.2;
            color: #FFFFFF;
        }
        
        &-item {
            &.active .k_games-pagination-link,
            &:hover .k_games-pagination-link {
                background: #1E1852;
            }

            & + .k_games-pagination-item {
                margin-left: 8px;
            }
        }
        
        &-text {
            height: 52px;
            border-radius: 1px;
            text-align: center;
            display: inline-block;
            padding: 16px 8px;
            color: #000;
            font-family: Raleway;
            font-weight: 900;
            font-size: 16px;
            line-height: 1.2;
        }
    }

    &-filters {
        display: flex;
        justify-content: space-between;
        padding: 40px 0;
    
        &-item {
            flex: 1 1  auto;
        }
        
        &-title {
            font-family: Raleway;
            font-style: normal;
            font-weight: 900;
            font-size: 24px;
            line-height: 32px;
        }

        &-label {
            font-family: Raleway;
            font-weight: bold;
            font-size: 16px;
            line-height: 24px;
            color: #11090F;
        }

        &-select {
            select {
                border: 1px solid #1E1852;
                border-radius: 0;
            }

            &:after {
                border-top-color: #EE205F;
            }
        }
    }

    &-gdp {
        padding-top: 64px;
        padding-bottom: 64px;
        display: flex;
        flex-wrap: wrap;
    }
}

.k_gdp {
    &-system_name {
        font-family: Raleway;
        font-weight: 900;
        font-size: 20px;
        line-height: 1.6;
        color: #EE205F;
        padding-bottom: 8px;
    }
    &-left_col {
        flex: 0 1 65%;
    }
    
    &-title {
        color: #11090F;
    }
    
    &-desc {
        font-size: 16px;
        line-height: 1.5;
        color: #11090F;
    }
    
    &-right_col {
        flex: 0 1 35%;
    }

    &-label {
        font-family: Raleway;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 1.5;
        color: #443A97;
    }
    
    &-value {
        font-family: Raleway;
        font-weight: 900;
        font-size: 20px;
        line-height: 1.6;
        color: #11090F;
    }
    
    &-info {
        padding-bottom: 16px;
    }

    &-img_wrap {
        position: relative;
        padding-left: 10px;
        padding-bottom: 10px;
    
        &:before {
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            height: calc(100% - 10px);
            background: #B21E43;
            width: 10px;
        }
    
        &:after {
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            height: 10px;
            background: #B21E43;
            width: calc(100% - 10px);
        }
    }

    &-sign_up {
        padding-top: 40px;
        width: 65%;

        &-step_1 {
            display: none;
        }

        input {
            border: 1px solid #1e1852;
            border-radius: 0;
            margin-bottom: 40px;
        }
    }
}