.my_games {
    &-available-wrapper {
        display: none;

        .game_added & {
            display: block;
        }
    }

    &-available-item {
        display: block;
        margin: 10px 0 0;
        border-radius: 4px;
        background-color: #fff;
        border: 1px solid #dedede;
        border-left: 4px solid #ed1f2e;
        box-shadow: 0 2px 8px 0 #0000000a;
        line-height: 20px;
        color: #333;
    }

    &-short_info {
        display: flex;
        padding: 16px 16px 16px 18px;

        &-time {
            font-weight: bold;
            color: #1b2125;
        }

        &-left {
            border-right: 1px solid #ddd;
            padding-right: 25px;
            margin-right: 25px;
            min-width: 25%;
        }

        &-name {
            font-weight: bold;

            .icon-arrow:before {
                font-size: 10px;
                transition: transition(transform);

                .expanded & {
                    transform: rotate(90deg);
                }
            }
        }
    }

    &-description {
        margin: 15px 0 5px;
    }

    &-game_img {
        margin: 15px 0 5px;

        img {
            width: 100%;
        }
    }

    &-long_info {
        display: none;
        padding: 0 16px 16px 18px;
        color: #505050;
    }

    &-text .label {
        color: #1b2125;
        font-weight: bold;
    }
}