.my_games {
    &-step3 {
        padding: 20px 40px 40px;
    }

    &-link {
        width: auto;
        background: none;
        color: #0095f8;
        font-size: 14px;
        text-transform: none;
        line-height: 20px;
        padding: 0;
        margin-right: 15px;

        &:hover {
            text-decoration: underline;
        }
    }

    &-subtitle {
        font-size: 20px;
        font-weight: bold;
        line-height: 28px;
        color: #1b2125;
        margin-bottom: 10px;
    }

    &-form {
        margin-top: 20px;

        .form-caption {
            font-size: 14px;
            line-height: 20px;
            color: #999999;
            margin: 0;
            flex: 0 0 33%;
        }

        .form-group {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        label {
            flex: 1 1 100%;
        }

        input,
        .select-field,
        textarea {
            flex: 0 0 64%;
            min-width: 64%;
        }

        .form-group-title {
            margin-bottom: 10px;
            color: $color-primary12;
            font-size: rem(12);
            text-transform: uppercase;
        }

        .label-radio {
            border: 0;
            padding: 5px 5px 5px 25px;
            font-size: 16px;
            text-transform: none;
            color: #333333;

            &:before {
                left: 0;
                top: 3px;
            }

            &:after {
                left: 5px;
                top: 8px;
            }
        }

        .label-checkbox {
            font-size: 16px;
            text-transform: none;
            color: #333333;

            &+& {
                margin-top: 15px;
            }
        }
    }

    &-system-input {
        display: none;
        margin-top: 15px;
    }
}