.user_page {
    &-wrap {
        padding-top: 50px;
    }

    &-title {
        font-weight: bold;
        color: $color-primary12;
        padding-bottom: 25px;
    }

    &-blog {
        @include mobile {
            margin-top: 50px;
        }
    }
}

.profile {
    position: relative;
    padding: 35px 35px 10px;
    background: $color-primary1;
    text-align: center;
    box-shadow: 0 5px 15px 0 rgba($color-primary21, 0.05);

    &-upload-image {
        cursor: pointer;
        @include icon(add);

        &:after {
            @include position(absolute, top 0 left 0);

            content: '';
            height: 100%;
            width: 100%;
            background: black;
            opacity: 0;
            transition: transition(opacity);
        }

        &:before {
            @include position(absolute, top 50% left 50%);

            margin-left: -12px;
            margin-top: -14px;
            color: $color-primary1;
            font-size: 24px;
            z-index: 2;
            opacity: 0;
        }

        &:hover {
            &:after {
                opacity: 0.5;
            }

            &:before {
                opacity: 1;
            }
        }
    }

    &-avatar {
        position: relative;
        height: 140px;
        width: 140px;
        margin: 0 auto 15px auto;
        border-radius: 50%;
        overflow: hidden;

        img {
            @supports (object-fit: cover) {
                height: 100%;
                object-fit: cover;
            }
        }
    }

    &-settings {
        @include icon(gear);

        color: $color-primary12;
        padding-left: 8px;

        &:hover {
            color: $color-primary22;
        }
    }

    &-name {
        color:  $color-primary17;
        font-size: 24px;
        font-weight: bold;
    }

    &-user {
        padding-bottom: 8px;
        display: inline-flex;
        align-items: center;
    }

    &-registration {
        color: $color-primary12;
        padding-bottom: 15px;
    }

    &-liked {
        @include icon(rock);

        border-radius: 4px;
        background-color: $color-primary18;
        color: $color-primary1;
        display: inline-block;
        padding: 5px 8px;
        margin-bottom: 35px;

        &-qty {
            padding-left: 8px;
        }
    }

    &-action-link {
        color: #1b2125;
        font-weight: bold;
    }
    
    &-action-link .value,
    &-action-link.active,
    &-action-link:hover {
        color: $color-primary12;
    }

    &-action-item {
        margin-bottom: 20px;
    }

    &-logout {
        @include icon(logout);
        @include position (absolute, top 25px right 35px);

        color: $color-primary12;

        &:hover {
            color: $color-primary22;
        }
    }
}
